<a href="https://colab.research.google.com/github/numvarn/PythonProgramming/blob/master/phisan_sookkhee_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# การเขียนโปรแกรมด้วยภาษาไพธอน 3

<pre>โดย
ผู้ช่วยศาสตาราจารย์พิศาล สุขขี
สาขาวิทยาการคอมพิวเตอร์,
มหาวิทยาลัยราชภัฏศรีสะเกษ

E-mail : phisan.s@sskru.ac.th, phisan.shukkhi@gmail.com
Website : http://phisan.sskru.ac.th
Facebook : www.facebook/numvarn
Skype : phisan.shukkhi
Mobile Phone: 084-915-2456
</pre>

# พื้นฐานโปรแกรมภาษาไพธอน

<hr>
บทเรียนนี้จะอธิบายถึงพื้นฐานของโปรแกรมภาษาไพธอน ซึ่งประกอบไปด้วยไวยากรณ์โครงสร้างของโปรแกรม ข้อควรจำที่สำคัญในการใช้ไวยากรณ์ของภาษาไพธอน คำสั่งในการรับข้อมูลเข้าและการแสดผล

เนื้อหาในบทเรียนนี้จะเป็นส่วนความรู้เบื้องต้นที่ทำให้สามารถเขียนโปรแกรมภาษาไพธอนอย่างง่ายได้ ตลอดจนวิธีการรันโปรแกรมที่เขียนด้วยภาษาไพธอน โดยใช้โปรแกรมแปลภาษาไพธอนทั้งในโหมดโต้ตอบและโหมดสคริปต์

## Identifiers

In [ ]:
# ชื่อคลาส
class GetData:
    pass

# ชื่อฟังก์ชัน
def getData():
    pass

def studentName():
    pass

# ชื่อตัวแปร
data = 1
student_name = "Phisan Sookkhee"
my_input = 0
my_input_number = 0

<pre>
#ตัวแปร
my_student

#ฟังก์ชัน
myStudent

#คลาส
MyStudent</pre>

<pre>
#คลาส
PrintHelloWorld()

#ฟังก์ชัน
printHelloWorld()

#ตัวแปร
print_hello_world</pre>

<hr>

## บรรทัดและการเยื้องหน้า (Lines and Indentation)

ไพธอนไม่ใช้วงเล็บการเพื่อบ่งบอกถึงบล็อกของโค้ดสำหรับนิยามคลาส และฟังก์ชัน

หรือคำสั่งโครงสร้างควบคุม บล็อกของโค้ดจะแสดงด้วยการเว้นบรรทัดพร้อมเยื้องหน้า ซึ่งในภาษาไพธอนมีการบังคับใช้อย่างเข้มงวด

จำนวนของการเว้นวรรคในการเยื้องหน้าสำหรับคำสั่งทั้งหมดภายในบล็อกจะต้องทำการเว้นวรรคด้วยจำนวนหรือขนาดที่เท่ากันทั้งหมด ตัวอย่างเช่น

In [ ]:
'''
if(True) {
    i = 1; x = 2;
} else {
    statement
}
'''

if True:
    print("Answer")
    print("True")
else:
    print("Answer")
    print("False")

In [ ]:
while True:
    value = input("Please enter a value: ")
    if value == "quit":
        break
    elif int(value) < 10:
        print("Small")
    else:
        print(value)

<hr>

##การแสดงคําสั่งหลายบรรทัด (Multi-Line Statements)

In [ ]:
total = 1 + 2 + 3

print(total)

In [ ]:
total = 1 + \
        2 + \
        3

print(total)

<hr>

## การใช้เครื่องหมายคําพูดในภาษาไพธอน (Quotation in Python)

In [ ]:
word = 'word'

In [ ]:
sentence = "This is a sentence."

In [ ]:
paragraph = """This is a paragraph.

It is made up of multiple lines and sentences."""

In [ ]:
print(paragraph)

<hr>

## คําอธิบายโปรแกรม (Comment)

In [ ]:
name = '''Phisan
Sookkhee
'''

print(name)

In [ ]:
# This is line comment
a = 10 # This is line comment

In [ ]:
'''
This is block comment that
Convers two lines.
'''

a = 10
print(a)

<hr>

## หลายคําสั่งภายในบรรทัดเดียว (Multiple Statements on a Single Line)

ผู้เขียนโปรแกรมสามารถใชBเครื่องหมายเซมิโคลอน (“ ; ”) เพื่อคัดระหว่างคําสั่งที่อยู่ภายใน บรรทัดเดียวกันได้ ดังแสดงในตัวอย่าง

In [ ]:
import sys; x = 'Python'; print("{} \n".format(x))

In [ ]:
import sys

x = 'Python'

print("{} \n".format(x))

<hr>

## บรรทัดว่าง (Blank lines)
บรรทัดที่มีเพียงแค่ช่องว่างเพียงอย่างเดียว หรืออาจมีเพียงคำอธิบายโปรแกรม จะถูกเรียกว่าเป็นบรรทัดว่าง (Blank lines) และตัวแปลภาษาไพธอนจะไม่สนใจบรรทัดว่างเหล่านี้

ในการเขียนโปรแกรมภายในโค้ดที่เราสร้างขึ้นจะสังเกตุเห็นว่า สามารถมีบรรทัดว่างได้ทั่วไปตลอดทั้งโค้ดโปรแกรม และในการแปลภาษาตัวแปรภาษาจะไม่นำบรรทัดว่างเหล่านี้ไปตีความ

In [ ]:
print("Hello world")




print("Hello, Phisan Sookkhee")

<hr>

## การรับข้อมูลเข้าและการแสดงผล

การรับข้อมูลจาก keyboard ด้วยฟังก์ชัน input()

In [ ]:
name = input("What's your name? ")

print("Nice to meet you " + name + "!")

In [ ]:
age = input("Your age? ")

print("So, you are already " + age +" years old, " + name + "!")

In [ ]:
number = input("Enter your number : ")

result = int(number) - 2

print(result)

<hr>

## การแสดงผล

การใช้ Formatters Formatters ทำงานโดยการใส่ฟิลด์ที่ใช้แทนข้อมูล หรือตัวยึดตำแหน่ง (Placeholder)

อย่างน้อยหนึ่งฟิลด์ซึ่งถูกกำหนดโดยใช้วงเล็บปีกกา (“ { } ”) ลงในสตริงและเรียกใช้เมธอด format() ซึ่งทำการนำค่าที่เราต้องการไปทำการใส่เข้าไปในสตริง

ค่านี้จะถูกส่งผ่านไปในตำแหน่งเดียวกับที่ตัวยึดตำแหน่งอยู่ในตำแหน่งที่กำหนดไว้เมื่อมีการเรียกใช้โปรแกรม ดังตัวอย่างด้านล่างนี้

In [ ]:
msg = "Phisan " + "Sookkhee " + str(5)
print(msg)

In [ ]:
number = 5

msg = "Sammy has "+ str(number) +" dogs"
print(msg)

In [ ]:
number = 5

msg = "Sammy has {} dogs".format(number)
print(msg)

In [ ]:
cat = 10
dog = 5

msg = "Sammy has {} dogs and {} cats".format(dog, cat)
print(msg)

In [ ]:
open_string = "Sammy loves {}."
print(open_string.format("open source"))

In [ ]:
msg = "Hello, my name is {} {}"

name = input("Enter name : ")
lastname = input("Enter lastname : ")

print(msg.format(name, lastname))

In [ ]:
msg = "Sammy loves {}".format("open source")
print(msg)

In [ ]:
"""
การใช้ Formatters กับตัวยึดตำแหน่งหลายตัว
เราสามารถใช้เครื่องหมายวงเล็บปีกกาหลายคู่เมื่อใช้ formatters ถ้าเราต้องการเพิ่มการแทนที่ตัวแปรอื่นในสตริง
เราสามารถทำได้โดยการเพิ่มคู่วงเล็บปีกกาที่สอง และส่งค่าที่สองเข้าไปใน เมธอดโดยการคั่นด้วยเครื่องหมายจุลภาค (“ , ”)
"""

new_open_string = "Sammy loves {} {}."
print(new_open_string.format("open-source", "software"))

In [ ]:
"""
จัดลำดับการแสดงผลด้วยอาร์กิวเมนต์ตำแหน่งและคำหลัก
เมื่อเราใช้เครื่องหมายวงเล็บปีกกาโดยไม่มีพารามิเตอร์ใด ๆ ภายใน
ไพธอนจะแทนที่ค่าที่โดยส่งผ่านเมธอด format() ตามลำดับ ตามที่เราได้เห็นแล้วจากตัวอย่างข้างต้นที่ผ่านมา โดยการสร้างแบบฟอร์มที่มีวงเล็บปีกกาสองวงที่ว่างเปล่ามีสองค่าที่ผ่านมาจะมีลักษณะดังนี้
"""

print("Sammy the {} has a pet {}!".format("shark", "pilot fish"))

# หรือ
print("Sammy the {1} has a pet {0}!".format("shark", "pilot fish"))


# หรือ
print("Sammy is a {3}, {2}, and {1} {0}!".format("happy",
                                                 "smiling",
                                                 "blue",
                                                 "shark"))

# หรือ
print("Sammy the {s} {m} a {pr}.".format(s="shark",
                                         m="made",
                                         pr="pull request"))

<hr>

## การแสดงผลโดยใช้ตัวแปลงข้อมูล

ภายในวงเล็บปีกกาที่เราใช้เป็นตัวยึดตำแหน่งภายในสตริงนั้น สามารถมีพารามิเตอร์ ได้มากกว่า 1 ตัว โดยเราจะใช้ไวยากรณ์แบบ {field_name:conversion} โดยที่ field_name จะระบุหมายเลขดัชนีของอาร์กิวเมนต์จากเมธอด format() ที่เราดำเนินการในส่วนการจัดเรียงลำดับ และ conversion หมายถึงรหัสการแปลงรูปแบบของข้อมูลที่เราใช้กับตัวจัดรูปแบบ

ประเภทการแปลงรูปแบบหมายถึงรหัสอักขระเดี่ยวที่ภาษาไพธอนใช้ โดยจะใช้ s เป็นรหัสสำหรับสตริง และ d เพื่อแสดงจำนวนเต็มทศนิยม (10 ฐาน) และ f ซึ่งเราจะใช้เพื่อแสดงทศนิยมที่มีจุดทศนิยม เป็นต้น โดยตัวอย่างต่อไปนี้เป็นตัวอย่างที่เราจะทำการส่งค่าจำนวนเต็มผ่านเมธอด เพื่อต้องการแสดงผลเป็นจำนวนจริง หรือ float ซึ่งทำได้โดยการเพิ่มอาร์กิวเมนต์ประเภท Conversion f เข้าไปในตัวยึดตำแหน่งภายในสตริง

In [ ]:
pi = 3.145456678893837
print("pi : {0:.3f}".format(pi))

In [ ]:
print("Sammy ate {0:f} percent of a {1}!".format(75, "pizza"))

print("Sammy ate {0:.2f} percent of a {1}!".format(75, "pizza"))

print("Sammy ate {0:.0f} percent of a {1}!".format(75.0789, "pizza"))

<hr>

## การกำหนดขนาดของฟิลด์

In [ ]:
print("Sammy has {0:8} red {1:16}!".format(5, "balloons"))

In [ ]:
print("Sammy has {0:^8.2f} red {1:>16}!".format(5, "balloons"))

In [ ]:
# < ชิดซ้าย
# > ชิดขวา
# ^ กึ่งกลาง
print("Sammy has {0:<4} red {1:>16}!".format(5, "balloons"))

In [ ]:
"""
โดยค่าเริ่มต้นเมื่อเราสร้างฟิลด์ขนาดใหญ่ขึ้นด้วย formatters ไพธอนจะเติมฟิลด์ด้วยอักขระเว้นวรรค
แต่เราสามารถปรับเปลี่ยนจากอักขระเว้นวรรคให้เป็นอักขระอื่น ๆ ตามที่เราต้องการได้
โดยใส่อักขระที่เราต้องการไว้หลังเครื่องหมายโคลอน (“ : ”) ดังตัวอย่าง
"""

print("{0:_^20s}".format("Sammy"))

<hr>

## แบบฝึกหัด

เรื่องพื้นฐานโปรแกรมภาษาไพธอน

1. จงเขียนโปรแกรมไพธอนเพื่อรับข้อมูล ที่เป็นชื่อผู้ใช้งานจากแป้นพิมพ์และแสดงออกทางหน้าจอ

In [ ]:
# พิมพ์โค้ดโปรแกรมด้านล่างนี้

2. จงเขียนโปรแกรมเพื่อแสดงค่าของ pi คือ 3.14159 ออกทางหน้าจอโดยทำการกำหนดรูปแบบในการแสดงผล

ดังต่อไปนี้
<pre>pi = 3
pi = 3.14
pi = 3.1416</pre>

In [ ]:
# พิมพ์โค้ดโปรแกรมด้านล่างนี้

3. จงเขียนโปรแกรมที่แสดงคำว่า "dog", "cat", "bat" ออกทางหน้าจอ โดยกำหนดรูปแบบในการแสดงดังต่อไปนี้



```
|dog       |   cat    |       bat|
```

In [ ]:
# พิมพ์โค้ดโปรแกรมด้านล่างนี้

4. จงเขียนโปรแกรมที่แสดงคำว่า "dog", "cat", "bat" ออกทางหน้าจอ โดยกำหนดรูปแบบในการแสดงดังต่อไปนี้



```
|dog*******|***cat****|*******bat|
```

In [ ]:
# พิมพ์โค้ดโปรแกรมด้านล่างนี้

<hr>

# ตัวแปรและประเภทข้อมูล



<pre>
หน่วยการเรียนนี้ ผู้เรียนจะได้เรียนรู้เกี่ยวกับตัวแปรและประข้อมูลในภาษา Python

เนื้อหาประกอบไปด้วย
1. ตัวแปรและการประกาศค่า
2. การตั้งชื่อตัวแปรในภาษาไพธอน
3. การกำหนดค่าให้กับตัวแปร
4. ชนิดข้อมูลพื้นฐาน
  a. ตัวเลข
  b. สตริง
5. ชนิดข้อมูลเชิงประกอบ
  a. ลิสต์
  b. ทัพเพิล
  c. ดึกชันนารี
  d. เซต
</pre>

## ตัวแปร และการประกาศค่า

**ตัวแปร (Variable)** คือ ชื่อ หรือเครื่องหมายที่ถูกกำหนดขึ้นสำหรับใช้อ้างอิงถึงข้อมูลที่ถูกจัดเก็บเอาไว้ในหน่วยความจำ

**ตัวแปรจะมีชื่อ (Identifier)** สำหรับใช้ในการอ้างถึงข้อมูล ในการเขียนโปรแกรม ค่าของตัวแปรสามารถที่จะกำหนดได้ใน Run-Time หรือเปลี่ยนแปลงอยู่ตลอดเวลาในขณะที่โปรแกรมทำงาน (Executing)

และเพื่อความสะดวกในการนำเอาค่าข้อมูลที่จัดเก็บไว้ในหน่วยความจำเพื่อการประมวลผลภายในโปรแกรม โดยการอ้างอิงผ่านตัวแปรนั้น ป้ายชื่อที่เราใช้เรียกตัวแปรภายในโปรแกรมนั้น ควรเป็นชื่อที่สื่อความหมายซึ่จะทำให้ทั้งโปรแกรมและผู้ผ่าน รวมทั้งตัวผู้พัฒนาโปรแกรมเองสามารถเข้าใจได้ง่าย

ในการเขียนโปรแกรมคอมพิวเตอร์ ตัวแปรจะแตกต่างจากตัวแปรในทางคณิตศาสตร์ ค่าของตัวแปรนั้นไม่จำเป็นต้องประกอบไปด้วยสูตรหรือสมการที่สมบูรณ์เหมือนกับในคณิตศาสตร์

และในคอมพิวเตอร์นั้น ตัวแปรอาจจะมีการทำงานซ้ำ ๆ เช่น การกำหนดค่าในที่หนึ่ง และนำไปใช้อีกที่หนึ่งในโปรแกรม และนอกจากนี้ยังสามารถกำหนดค่าใหม่ให้กับตัวแปรได้ตลอดเวลา

<hr>

## การประกาศค่าตัวแปร

การประกาศค่าตัวแปรในภาษาไพธอนสามารถทำได้โดยการใช้นิพจน์เพื่อกำหนดค่าให้แก่ตัวแปรโดยใช้เครื่องหมายเท่ากับ (=) ซึ่งไม่จำเป็นต้องมีการระบุ หรือประกาศว่าที่แปรที่เราสร้างขึ้นมีชนิดข้อมูลเป็นชนิดใด ซึ่งตัวแปรจะมีชนิดข้อมูลแปรผันตามค่าของข้อมูลที่เรากำหนดให้ ดังตัวอย่าง

In [ ]:
a = 3
b = 4.92
c = "marcuscode.com"
c = 10.5

การประกาศตัวแปรในภาษา Python นั้นไม่จำเป็นต้องระบุประเภทของตัวแปรในตอนที่ประกาศเหมือนในภาษา C หรือ Java

* ในตัวแปร a มีค่าเป็น 3 และเป็นประเภทเป็น Integer

* ตัวแปร b มีค่าเป็น 4.92
* และเป็นประเภทเป็น Float
และตัวแปร c มีค่าเป็น "marcuscode.com" และเป็นประเภท String

และในภายหลังเราได้เปลี่ยนค่าของตัวแปร c เป็น 10.5 ทำให้ตัวแปร c มีชนิดข้อมูลกลายเป็นประเภท Float

<hr>

## กำหนดค่าให้กับหลายตัวแปร (Multiple Assignment)

ในภาษา Python สนับสนุนการกำหนดค่าให้กับหลายตัวแปร (Multiple Assignment) ในคำสั่งเดียวในตัวอย่างด้านล่าง เป็นการกำหนดค่า 1 และ 2 กับตัวแปร a และ b ตามลำดับ

และในคำสั่งต่อมาเป็นการกำหนดค่า 10 ให้กับตัวแปร x y และ z ซึ่งทำให้การเขียนโปรแกรมสะดวกและรวดเร็วมากขึ้น

โดยผลของการกำหนดค่าของตัวแปรด้านบน เป็นดังนี้

In [ ]:
a, b, c = 1, 2, 3
x = y = z = 10

In [ ]:
print("a = " , a)
print("b = " , b)
print("c = " , c)
print("x = " , x)
print("y = " , y)
print("z = " , z)

In [ ]:
# การกำหนดค่าเริ่มต้นให้ ตัวแปร

x1 = x2 = x3 = x4 = x5 = x6 = x7 = x8 = x9 = x10 = 20

print(x3)

การประยุกต์การกำหนดค่าให้หลายตัวแปร
ตัวอย่างของการกำหนดค่าให้หลายตัวแปรที่มีในภาษาไพธอน นั้นสามารถนำมาประยุกต์ใช้ในการเรื่องของการสลับค่าระหว่างตัวแปร
ซึ่งจะทำให้การดำเนินการรวดเร็วขึ้น โปรแกรมมีความกระชับขึ้น

In [ ]:
a = 10
b = 20
tmp = a
a = b
b = tmp

print(a)
print(b)

In [ ]:
a = 10
b = 20

a, b = b, a

print(a)
print(b)

In [ ]:
lt = [1, 2, 3, 4, 5, 6]

# a, b = b, a
lt[0], lt[-1] = lt[-1], lt[0]

print(lt)

<hr>

## การตั้งชื่อตัวแปรในภาษาไพธอน

ไพทอนไม่จำเป็นต้องประกาศตัวแปรก่อนใช้งาน สามารถกำหนดค่าขึ้นมา และเรียกใช้ได้เลย แต่การตัวชื่อตัวแปรของ ไพทอนต้องเป็นไปตามกฏดังนี้

1. ต้องขึ้นต้นด้วยตัวอักษร
2. ห้ามใช้ตัวเลขหรือสัญลักษณ์ใดๆ
3. ห้ามมีช่องว่างหรือเว้นวรรค
ห้ามใช้เครื่องหมายต่อไปนี้ในการประกาศตัวแปร !...@...#...$...%...^...&...*...(...)...-...=...+...~
4. ควรตั้งชื่อตัวแปรที่สื่อความหมายให้ชัดเจน เพื่อผู้อื่นตีความหมายได้เข้าใจ แต่ถ้ามีความหมายยาวมาก ให้ย่อ เช่น student_name ควรใช้ st_name เป็นต้น
5. ตัวแปรที่มีตัวพิมพ์ใหญ่และตัวพิมพ์เล็กผสมกันจะมีความหมายต่างกับตัวพิมพ์เล็กเพียงอย่างเดียว เช่น St_Id แตกต่างจากตัวแปร st_id เป็นต้น

## คำสงวน ในภาษาไพทอน
คำสงวน คือชื่อหรือคำที่ภาษา Python (ไพทอน) ไว้ใช้เฉพาะเพื่อเป็นคำสั่ง หรือมีไว้เพื่อเขียนเป็นโครงสร้างของตัวภาษาเอง โดยคำสงวนของ Python จะมีทั้งหมด 31 คำ ดังนี้

and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield

<hr>

## Numbers
ไพทอนรองรับข้อมูลชนิดตัวเลขทั้ง 4 ชนิดดังนี้

**int (signed integers)** − เรามักเรียกข้อมูลประเภทนี้ว่า จำนวนเต็ม (Integer), ซึ่งเป็นได้ทั้งตัวเลขจำนวนเต็มบวก หรือเต็มลบก็ได้ ในระบบเลขฐาน 10.

**long (long integers)** − เป็นข้อมูลจำนวนเต็มที่ไม่ได้จำกัดขนาด แต่จะเขียนตามด้วยตัว L ตัวเล็กหรือตัวใหญ่ก็ได้.

**float (floating point real values)** − เป็นข้อมูลตัวเลขประเภทจำนวนจริง ซึ่งจะเรียนในรูปแบบตัวเลขทศนิยม และ Floats อาจใช้เขียนในรูปแบบสัญลักษณ์ทางวิทยาศาสตร์ ซึ่งใช้ E หรือ e ในการแทนเลขยกกำลัง 10 (2.5e2 = 2.5 x 102 = 250).

**complex (complex numbers)** − คือข้อมูลที่ถูกเขียนในรูปของ a + bJ, โดย a และ b คือจำนวนจริง และ J คือค่ารากที่สองของ -1 โดย Complex numbers ไม่ค่อยได้ถูกใช้ในการเขียนโปรแกรมในภาษาไพทอน

หมายเหตุ ใน Python 3 ข้อมูลชนิด long ถูกตัดออกไป

In [ ]:
## Integer
print(type(10))

# Float
print(type(15.20))

# Complex
print(type(9.322e-36j))

### การแปลงข้อมูลตัวเลข

1. **int(x)** เป็นการแปลง x ให้อยู่ในรูปแบบจำนวนเต็ม.

2. **float(x)** เป็นการแปลง x ให้อยู่ในรูปแบบจำนวนจริง (เลขทศนิยม).

3. **complex(x)** เป็นการแปลง x เป็นจำนวนเชิงซ้อนกับส่วนจริง x และศูนย์ส่วนจินตภาพ.

4. **complex(x, y)** เป็นการแปลง x และ y เป็นจำนวนเชิงซ้อนกับส่วนจริง x และ y ส่วนจินตภาพ x และ y เป็นนิพจน์ตัวเลข.

In [ ]:
x = 10.8
int(x)

In [ ]:
x = 2.58
int(x)

In [ ]:
x = 10
complex(x)

In [ ]:
x = 10
complex(x, 2)

### ฟังก์ชันทางคณิตศาสตร์

abs(x)

ค่าสัมบูรณ์ของ x: ระยะทาง (บวก) ระหว่าง x และศูนย์

In [ ]:
abs(-10)

In [ ]:
import math

**math.log(x)**

The natural logarithm of x, for x > 0.

In [ ]:
math.log(10)

**math.log10(x)**

The base-10 logarithm of x for x > 0.

In [ ]:
math.log10(10)

**math.sqrt(x)**

The square root of x for x > 0.

In [ ]:
math.sqrt(2)

**Power of number**

In [ ]:
3**2

<hr>

## Strings

สตริง หรือข้อมูลประเภทลำดับของอักขระ เป็นข้อมูลอีกประเภทที่นิยมใช้มากในภาษาไพธอน โดยที่เราสามารถสร้างได้ง่าย ๆ โดยการใส่ตัวอักษร หรือข้อความไว้ภายในในเครื่องหมายคำพูด (' ' หรือ " ") การสร้างข้อมูลประเภทสตริงสามารถทำได้โดยการกำหนดค่าให้กับตัวแปร ตัวอย่างเช่น -

### การสร้างสตริงในภาษาไพธอน

สตริงที่สามารถสร้างขึ้นได้โดยใส่ตัวอักษรไว้ภายในเครื่องหมายคำพูดเดี่ยว ('..') หรือเครื่องหมายคำพูดคู่ ("..") และคำพูดสาม ("""..""") สามารถใช้ในไพธอน แต่โดยทั่วไปใช้เพื่อแสดงสายอักขระแบบหลายบรรทัด

In [ ]:
# การกำหนดค่าให้กับตัวแปรที่มีชนิดข้อมูลเป็นสตริง
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string สามารถใช้สำหรับการแสดงสตริงในหลายบรรทัด
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

### การเข้าถึงอักขระในสตริง

ภาษาไพธอนนั้นไม่สนับสนุนข้อมูลประเภทอักขระ (Character) โดยจะถือว่าข้อมูลอักขระแต่ละตัวนั้นถือว่าเป็นสตริงที่มีขนาดความยาวเท่ากับ 1 โดยในการเข้าถึงอักขระแต่ละตัวภายในสติงนั้นให้ใช้วงเล็บเหลี่ยม ( [ ] ) สำหรับการหั่น (Slide) ตามดัชนีหรือดัชนีการเข้าถึงอักขระภายในสตริง ตัวอย่างเช่น -

In [ ]:
str = 'Hello World!'

print (str)          # พิมพ์สตริงตั้งหมด
print (str[0])       # พิมพ์อักขระลำดับแรกของสตริง
print (str[2:5])     # พิมพ์อักขระลำดับที่ 3 ถึงลำดับที่ 5 ภายในสตริง
print (str[2:])      # พิมพ์อักขระลำดับที่ 3 จนถึงลำดับสุดท้ายภายในสตริง
print (str * 2)      # พิมพ์สตริง จำนวน 2 ครั้ง
print (str + "TEST") # พิมพ์สตริงโดยรวมสายอักขระเข้าด้วยกัน

### การปรับปรุงสตริง

เราสามารถ "ปรับปรุง" สตริงที่มีอยู่โดย (อีกครั้ง) การกำหนดตัวแปรให้กับสตริงอื่น ค่าใหม่อาจเกี่ยวข้องกับค่าก่อนหน้านี้หรือเป็นสตริงที่แตกต่างกันโดยสิ้นเชิง ตัวอย่างเช่น -

In [ ]:
var = 'Hello World!'
print("Updated String :- ", var[:6] + 'Python')

In [ ]:
str = "Computer Science"

print(str[:8] + ' Today')

In [ ]:
print(str[9:] + ' Today')

In [ ]:
str = "Computer Science"

print(str[:8]+" Today "+str[9:])

### การดำเนินการสตริง

ข้อมูลประเภทสตริงนั้นสามารถมีการดำเนินการที่หลากหลาย ดังนี้

การรวมสองหรือมากกว่าสตริง
การรวมสตริงตั้งแต่สอง หรือมากกว่านั้นเข้าเป็นหนึ่งเดียวเรียกว่าการ concatenation

โดยใช้ตัวดำเนินการบวก ( + ) เพียงแค่เขียนนำสตริงสองตัวดำเนิการเข้าด้วยกันก็จะถูกเชื่อมต่อกัน

และโอเปอเรเตอร์คูณ ( * ) สามารถใช้เพื่อทำซ้ำสตริงได้หลายครั้ง

In [ ]:
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

หรือถ้าเราต้องการต่อสตริงต่าง ๆ ที่มีหลายบรรทัด เราสามารถใช้วงเล็บในการดำเนินการได้

In [ ]:
# using parentheses
s = ('Hello '
     'World')

print(s)

<hr>

**เกร็ดน่ารู้** ตัวดำเนินการ + และ * เวลาใช้งานกับสตริง

* เมื่อใช้ + ระหว่างสองสตริง จะเป็นการนำสตริงมาต่อกัน
* เมื่อใช้ * ระหว่างสตริงกับเลขจำนวนเต็ม จะเป็นการนำสตริงมาต่อกันตามจำนวนครั้งของเลขจำนวนเต็ม

<hr>

In [ ]:
"Hello" + "World"

In [ ]:
"Hello" + "World" + "!"

In [ ]:
3*"Hello+"

### การวนซ้ำบนสตริง

เราสามารถใช้การทำซ้ำผ่านสตริง จากตัวอย่างด้านล่างเป็นการวนซ้ำเพื่อนับจำนวน 'l' ที่อยู่ในสตริง

In [ ]:
count = 0

for letter in 'Hello World':
    # count += 1
    if(letter == 'l'):
        count += 1

print(count,'letters found')

### การทดสอบสมาชิกในสตริง

เราสามารถทดสอบว่ามีอักขระ หรือสตริงย่อยอยู่ภายในสตริงหรือไม่โดยใช้ keyword คือ in

In [ ]:
'a' in 'program'

In [ ]:
'at' not in 'battle'

### Escape Characters

กรณีตัวอย่าง : ถ้าหากเราต้องการพิมพ์ข้อความเช่น - He said, "What's there?" - เราไม่สามารถใช้เครื่องหมายคำพูดหรือคำพูดแบบคู่ได้ ซึ่งจะส่งผลให้เกิด SyntaxError เนื่องจากข้อความนั้นมีทั้งเครื่องหมายคำพูดแบบเดียว และแบบคู่

In [ ]:
#ตัวอย่างที่เกิดข้อผิดพลาด
# ต้องการพิมพ์
# He said, "What's there?"

print("He said, "What's there?"")

วิธีหนึ่งในการแก้ปัญหานี้คือการใช้เครื่องหมายคำพูดแบบสามตัว หรือเราสามารถใช้ escape characters

Escape characters เป็นอักขระพิเศษในไพธอน ซึ่งเป็นอักขระที่จะไม่แสดงผล หรือไม่ปรากฏให้เห็นตอนแสดงผลผ่านหน้าจอ ยกตัวอย่างเช่น "\n" เป็นอักขระที่หมายถึงการขึ้นบรรทัดใหม่

escape sequence เริ่มต้นด้วยเครื่องหมายแบ็กสแลช (" \ ") และถูกตีความแตกต่างกัน ถ้าเราใช้เครื่องคำพูดเดี่ยวเพื่อแทนสตริงจะต้องยกเว้นเครื่องหมายเดียวทั้งหมดภายในสตริง คล้ายกันคือกรณีที่มีเครื่องหมายคำพูดคู่ นี่คือวิธีที่สามารถทำได้เพื่อแสดงข้อความข้างต้น

In [ ]:
# using triple quotes
print("""He said, "What's there?""")

In [ ]:
# escaping single quotes
print('He said, "What\'s there?"')

In [ ]:
# escaping double quotes
print("He said, \"What's there?\"")

### เมธอด format()
สำหรับการจัดรูปแบบแสดงผลของสตริง

เมธอด format() สามารถใช้งานกับสตริงอ็อบเจ็กต์ที่มีความหลากหลายและมีประสิทธิภาพในการจัดรูปแบบการแสดงผลของสตริง สตริงการจัดรูปแบบมีวงเล็บปีกกา {} เป็นตัวยึดตำแหน่ง หรือฟิลด์แทนที่ซึ่งจะถูกแทนที่

ภายในเครื่องหมาย {} เราสามารถใช้อาร์กิวเมนต์ตัวเลขตำแหน่ง หรืออาร์กิวเมนต์คำหลักเพื่อระบุลำดับในการแสดงผลได้

In [ ]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

**format()**
ผู้ใช้งานสามารถกำหนดทางเลือกในการแสดงผลสตริงได้อย่างหลากหลาย และจำเพาะเจาะจง

ตัวอย่างเช่น สามารถใช้สัญลักพิเศษในการกำหนดรูปแบบการแสดงสตริงใช้ ชิดซ้าย <, ชิดขวา > หรือตรงกลาง ^ ได้

นอกจากนี้เรายังสามารถจัดรูปแบบ integers เป็น binary, hexadecimal ฯลฯ

และ floats สามารถปัดเศษหรือแสดงในรูปแบบเลขชี้กำลัง มีการจัดรูปแบบมากมายที่คุณสามารถใช้ได้

In [ ]:
# formatting integers
"Binary representation of {0} is {0:b}".format(12)

In [ ]:
# formatting floats
"Exponent representation: {0:e}".format(1566.345)

In [ ]:
# round off
"One third is: {0:.3f}".format(1/3)

In [ ]:
# string alignment
"|{:<10}|{:^10}|{:>10}|".format('butter','bread','ham')

### String Method ที่มักใช้งานบ่อย

String Method ที่มักใช้งานบ่อย เช่น lower(), upper(), join(), split(), find(), replace() เป็นต้น

In [ ]:
# Funciton
# lower("PrOgRaMiZ")

# Method
"PrOgRaMiZ".lower()

In [ ]:
"PrOgRaMiZ".upper()

In [ ]:
"This will split all words into a list".split()

In [ ]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

In [ ]:
'Happy New Year'.find('p')

In [ ]:
'Happy New Year, Happy'.replace('Happy','Brilliant')

### ตัวอย่างการคำนวณค่า BMI

In [ ]:
weight, height = input("Enter your data (weight, height) : ").split()

height_meter = int(height) / 100

bmi = int(weight) / height_meter ** 2

print("{0:.2f}".format(bmi))

In [ ]:
# เขียนโปรแกรมแบบย่อ

data = [int(i) for i in input("Enter your data: ").split()]
print("{0:.2f}".format(data[0] / (data[1]/100)**2))

<hr>

## List

**วิธีการสร้าง List ในภาษาไพธอน**

ในการเขียนโปรแกรมภาษาไพธอน List จะถูกสร้างขึ้นโดยการวางไอเท็มทั้งหมด (element) ภายในวงเล็บเหลี่ยม [ ] โดยคั่นด้วยเครื่องหมายจุลภาค (,) และภายใน List นั้นสามารถมีสมาชิกจำนวนมาก และอาจมีหลากหลายประเภทข้อมูล (จำนวนเต็ม, จำนวนจริง, สตริง ฯลฯ )

In [ ]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 3.4]

นอกจากนี้ภายใน List ยังสามารถมี List อื่นเป็นเป็นสมาชิกได้อีกด้วยซึ่งเรียกว่า Nested List

In [ ]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

### วิธีการเข้าถึงสมาชิก (Element) ภายใน List

มีหลายวิธีที่เราสามารถเข้าถึงสมาชิกของ List ได้

ดัชนีรายการ (Index) เราสามารถใช้ตัวดำเนินการดัชนี [ ] เพื่อเข้าถึงสมาชิกภายใน List ได้ โดยดัชนีเริ่มจาก 0 ดังนั้น List ที่มีสมาชิก 5 ตัว จะมีดัชนีตั้งแต่ 0 ถึง 4

In [ ]:
my_list = ['p','r','o','b','e']
# Output: p
print(my_list[0])

# Output: o
print(my_list[2])

# Output: e
print(my_list[4])

# Error! Only integer can be used for indexing
# my_list[4.0]

# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

# Output: a
print(n_list[0][1])

# Output: 5
print(n_list[1][3])

In [ ]:
# Nested List
# n_list = ["Happy", [2,0,1,5]]

n_list = [[1, 2, 3], [4, 5, 6, [7, 8, 9, 10, [11, 12]]]]

# จงเข้าถึงเลข 12 ใน n_list

In [ ]:
matrx = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# จงเข้าถึงเลข 12 ใน n_list

In [ ]:
str_lt = [
        ["Phisan"],
        ["Sookkhee", "Hello"],
        ]

# จงเข้าถึงตัวอักษร o ใน Hello ใน str_list

### การจัดทำดัชนีเชิงลบ (Negative indexing)

โปรแกรมภาษาไพธอนช่วยช่วยอำนวนความสะดวกในการเข้าถึงสมาชิกที่อยู่ใน List ให้สามารถทำได้ง่ายขึ้น โดยอนุญาติให้มีการจัดทำดัชนีเชิงลบ โดย ดัชนี -1 หมายถึงรายการสุดท้ายภายใน List และ -2 ไปยังรายการสุดท้ายที่สองและอื่น ๆ

In [ ]:
my_list = ['p','r','o','b','e']

In [ ]:
my_list[len(my_list) - 1]

In [ ]:
my_list[-1]

### Slice Lists

เราสามารถเข้าถึงสมาชิกต่าง ๆ ภายใน List โดยใช้ตัวดำเนินการ slice ( : )

In [ ]:
my_list = ['p','r','o','g','r','a','m','i','z']

# สมาชิกลำดับที่ 3 ถึง 5
print(my_list[2:5])

# สมาชิกเริ่มจากลำดับที่ 1 ถึง 4
print(my_list[:-5])

# สมาชิกลำดับที่ 6 ถึง ลำดับสุดท้าย
print(my_list[5:])

# สมาชิกลำดับแรก ถึง ลำดับสุดท้าย
print(my_list[:])

In [ ]:
# var[start:stop:step]

n = [1, 2, 3, 4, 5, 6, 7, 8, 9]

n[::-1]

In [ ]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n[::-2]

In [ ]:
#การบ้าน
'''
เลขพาลินโดรม
เลขที่เมื่อกลับหลังแล้วยังได้ตัวเดิม
เช่น 8008, 0880
'''

# โจทย์ จงหาว่าในช่วง 1 - 1000 มีเลยพาลินโดรมอยู่เท่าไร่
# การแปลงชนิดข้อมูล
# int -> string
count = 0
for i in range(100, 1001):
    if str(i) == _______:
        count += 1

print(count)

### วิธีการเปลี่ยน หรือเพิ่มข้อมูลสมาชิกลงใน List

เราสามารถใช้ตัวดำเนินการกำหนดค่า (=) เพื่อเปลี่ยนแปลงข้อมูลสมาชิกภายใน List ได้ ซึ่งในการเปลี่ยนแปลงข้อมูลนั้นสามารถทำได้ทีละตัว หรือกระทำเป็นช่วงข้อมูลได้

In [ ]:
lt = []

# วิธีที่ 1 : append
lt.append(1)
lt.append(3)
lt.append(5)

In [ ]:
lt

In [ ]:
# วิธีที่ 2 : insert
lt = [1, 3, 5]

lt.insert(0, 0)
# [0, 1, 3, 5]

lt.insert(2, 2)
# [0, 1, 2, 3, 5]

lt.insert(4, 4)
# [0, 1, 2, 3, 4, 5]

In [ ]:
lt

In [ ]:
# mistake values
odd = [2, 4, 6, 8]

# change the 1st item
odd[0] = 1

# Output: [1, 4, 6, 8]
print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]

# Output: [1, 3, 5, 7]
print(odd)

เราสามารถเพิ่มข้อมูลเข้าไปใน List ทีละตัวได้โดยใช้ append() หรือเพิ่มข้อมูลครั้งละหลายรายการเข้าไปใน List ได้โดยใช้ extend()

In [ ]:
odd = [1, 3, 5]

odd.append(7)

# Output: [1, 3, 5, 7]
print(odd)

odd.extend([9, 11, 13])

# Output: [1, 3, 5, 7, 9, 11, 13]
print(odd)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b)
a

นอกจากนี้ยังสามารถใช้ตัวดำเนินการบวก ( + ) เพื่อทำการรวม 2 List เข้าด้วยกัน วิธีนี้เรียกว่า Concatenation

และสามารถใช้ตัวดำเนินการคูณ ( * ) เพื่อการสร้างสมาชิกซ้ำภายใน List ตามจำนวนครั้งที่กำหนด

In [ ]:
odd = [1, 3, 5]

# Output: [1, 3, 5, 9, 7, 5]
print(odd + [9, 7, 5])

#Output: ["re", "re", "re"]
print(["re"] * 3)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b #เท่ากับการ extend

### วิธีการลบมูลสมาชิกออกจาก List

เราสามารถลบข้อมูลสมาชิกออกจาก List ครั้งละหนึ่งรายการ หรือมากกว่านั้นออกจาก List โดยใช้คำสำคัญ delรายการได้ทั้งหมด

In [ ]:
my_list = ['p','r','o','b','l','e','m']

# delete one item
del my_list[2]

# Output: ['p', 'r', 'b', 'l', 'e', 'm']
print(my_list)

# delete multiple items
del my_list[1:5]

# Output: ['p', 'm']
print(my_list)

# delete entire list
del my_list

# Error: List not defined
# print(my_list)

ในอีกทางหนึ่งนั้น เราสามารถใช้เมธอด remove() เพื่อทำการลบข้อมูลสมาชิกที่กำหนดได้ทันที หรือใช้เมทอด pop() เพื่อทำการลบข้อมูลภายสมาชิกในรายการที่กำหนดได้

เมธอด pop() จะลบและส่งกลับรายการสุดท้ายหากไม่มีดัชนี ซึ่งช่วยให้เราสามารถใช้ List เพื่อเป็นสแต็ก

นอกจากนี้เรายังสามารถใช้เมธอด clear() เพื่อลบข้อมูลสมาชิกทั้งหมดออกจาก List

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

### การทดสอบการเป็นสมาชิกใน List หรือไม่

เราสามารถใช้ keyword in สำหรับการทดสองว่ามีข้อมูลที่ต้องการทดสอบเป็นสมาชิกอยู่ List หรือไม่

In [ ]:
my_list = ['p','r','o','b','l','e','m']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

---
### ข้อพึงระวัง

In [95]:
a = [1, 2, 3, 4]

b = a

b[0] = 100

print(a)

[100, 2, 3, 4]

In [96]:
import copy

a = [1, 2, 3, 4]

b = copy.copy(a)

b[0] = 100

print(a)

[1, 2, 3, 4]

<hr>

## Tuple

ในการเขียนโปรแกรมภาษาไพธอนนั้น Tuple จะมีความคล้ายกับ List แต่ความแตกต่างระหว่างของทั้งสอง คือการที่เราไม่สามารถเปลี่ยนแปลงข้อมูลสมาชิกของ Tuple ได้ ซึ่งแตกต่างกับ List ที่สามารถเปลี่ยนแปลงค่าข้อมูลสมาชิกภายใน List ได้ตลอดเวลา

### ข้อดีของ Tuple

โดย Tuples นั้นค่อนข้างคล้ายกับ List ซึ่งทั้งสองจะสามารถใช้งานได้คล้ายกัน

อย่างไรก็ตามมีข้อดีบางอย่างในการใช้งาน Tuple ที่เหนือกว่าการใช้งาน List ดังนี้ :

1. โดยทั่วไปเราใช้ Tuple สำหรับประเภทข้อมูลที่แตกต่างกัน และ List สำหรับประเภทข้อมูลที่เหมือนกัน (หรือคล้ายกัน)

2. เนื่องจาก Tuple จะไม่มีการเปลี่ยนแปลงข้อมูล การทำงานวนซ้ำ (Itering) บน Tuple จะเร็วกว่า List ซึ่งเป็นการเพิ่มประสิทธิภาพการทำงานขึ้นเล็กน้อย

3. Tuples มีข้อมูลสมาชิกที่คงที่ ไม่มีการเปลี่ยนแปลง ทำให้สามารถใช้เป็นคีย์สำหรับพจนานุกรมได้ ซึ่งต่างจาก List ที่ไม่สามารถทำได้

4. หากมีข้อมูลที่ไม่ต้องการให้ทำการเปลี่ยนแปลง การนำ Tuple มาใช้งานจะรับประกันได้ว่าจะสามารถป้องกันการเขียน หรือแก้ไขข้อมูลสมาชิกได้

### การสร้าง Tuple

Tuple จะถูกสร้างขึ้นโดยวางข้อมูลสมาชิกทั้งหมดไว้ในวงเล็บ () โดยคั่นด้วยเครื่องหมายจุลภาค

ภายใน Tuple สามารถมีข้อมูลสมาชิกที่เป็น List ได้หลาย List และอาจมีข้อมูลได้หลายประเภทข้อมูล (integer, float, list, string เป็นต้น)

In [ ]:
# empty tuple
# Output: ()
my_tuple = () # []
print(my_tuple)

# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
# Output: (1, "Hello", 3.4)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
# Output: ("mouse", [8, 4, 6], (1, 2, 3))
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

# tuple can be created without parentheses
# also called tuple packing
# Output: 3, 4.6, "dog"

my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
# Output:
# 3
# 4.6
# dog
a, b, c = my_tuple
print(a)
print(b)
print(c)

### ข้อสังเกตุในการสร้าง Tuple

การสร้าง Tuple ที่มีข้อมูลสมาชิกเพียง 1 ตัวนั้น มีข้อน่าสังเกตุ คือ หากใส่ข้อมูลเข้าไปเครื่องหมาย ( ) เลยจะทำให้ตัวแปรภาษาทำการตีความหมายผิดไป จึงจำเป็นจะต้องมีเครื่องหมายจุลภาคต่อท้ายข้อมูลสมาชิกนั้นด้วย เพื่อบ่งบอกว่าสิ่งที่เราสร้างขึ้นนั้นเป็น Tuple

In [ ]:
# only parentheses is not enough
# Output: <class 'str'>
my_tuple = ("hello")
print(type(my_tuple))

# need a comma at the end
# Output: <class 'tuple'>
my_tuple = ("hello",)
print(type(my_tuple))

# parentheses is optional
# Output: <class 'tuple'>
my_tuple = "hello",
print(type(my_tuple))

### การเปลี่ยนแปลง Tuple

Tuple นั้นจะมีลักษณะคงที่ไม่สามารถทำการเปลี่ยนแปลงค่าของสมาชิกหลังจากถูกสร้างขึ้น

ซึ่งหมายความว่าข้อมูลสมาชิกของ Tuple ไม่สามารถเปลี่ยนแปลงได้เมื่อมีการกำหนดค่าแล้ว แต่ถ้าข้อมูลสมาชิกภายใน Tuple นั้นเป็นข้อมูลประเภทที่แก้ไขค่าได้เช่น List จะสามารถเปลี่ยนแปลงได้ค่าที่อยู่ภายใน List นั้นได้

In [ ]:
my_tuple = (4, 2, 3, [6, 5])

# เราไม่สามารถเปลี่ยนองค์ประกอบได้

# หากคุณยกเลิกการ comment คำสั่งด้านล่าง
# คุณจะได้รับข้อความแจ้งข้อผิดพลาด:
# TypeError: 'tuple' object does not support item assignment

#my_tuple [1] = 9

# แต่รายการขององค์ประกอบที่เปลี่ยนแปลงได้สามารถเปลี่ยนแปลงได้
# ผลลัพธ์: (4, 2, 3, [9, 5])
my_tuple[3][0] = 9
print(my_tuple)

# tuples สามารถกำหนดใหม่ได้
# ผลลัพธ์: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

In [ ]:
my_tuple [1] = 9

เราสามารถใช้ตัวดำเนินการบวก ( + ) เพื่อรวม Tuple ซึ่งการดำเนินการนี้เรียกว่า Concatenation

นอกจากนี้เราสามารถทำซ้ำข้อมูลสมาชิกภายใน Tuple ตามจำนวนครั้งที่ต้องการ โดยใช้ตัวดำเนินการคูณ ( * )

โดยผลการดำเนินงานทั้ง + และ * เป็น Tuple ชุดใหม่

In [ ]:
# Concatenation

# ผลลัพธ์: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# ผลลัพธ์: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

### การลบ Tuple

ตามที่กล่าวไว้ข้างต้นเราไม่สามารถเปลี่ยนแปลงข้อมูลสมาชิกภายใน Tuple ได้ นั่นหมายความว่าเราไม่สามารถลบหรือนำข้อมูลออกจาก Tuple ได้

แต่ลบสามารถลบ Tuple ทั้งหมดเป็นไปได้โดยใช้คำหลัก del

In [ ]:
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# ไม่สามารถลบรายการได้
# ถ้ายกเลิกการ comment คำสั่งด้านล่าง,
# คุณจะได้รับข้อความแจ้งข้อผิดพลาด:
# TypeError: 'tuple' object doesn't support item deletion

#del my_tuple [3]

# สามารถลบ Tuple ทั้งหมดได้
# NameError: name 'my_tuple' is not defined
del my_tuple

my_tuple

## Dictionary

### Dictionary ในภาษา Python คืออะไร

Dictionary หรือ พจนานุกรมในภาษา Python คือชุดของข้อมูลที่ไม่มีลำดับ โดยพจนานุกรมจะแตกต่างจากชนิดข้มูลอื่น ๆ ซึ่งจะมีเพียงแค่ข้อมูลเป็นสมาชิกภายในเท่านั้น แต่ว่าพจนานุกรมนั้นข้อมูลสมาชิกแต่ละตัวจะประกอบไปด้วยคู่ของ คีย์ : ค่าข้อมูล

เราสามารถเข้าถึงค่าข้อมูลสมาชิกภายในพจนานุกรมได้ก็ต่อเมื่อเราทราบคีย์ที่ในอ้างอิงถึงข้อมูลนั้น

### วิธีการสร้างพจนานุกรม?
การสร้างพจนานุกรมทำได้ง่าย เพียงแค่วางข้อมูลสมาชิกภายในวงเล็บปีกกา {} โดยคั่นด้วยเครื่องหมายจุลภาค

รายการมีคีย์และค่าข้อมูลสมาชิก ที่สอดคล้องกันแสดงเป็นคู่ คือ คีย์ : ค่า

แม้ว่าค่าจะเป็นชนิดข้อมูลใดก็ตามและสามารถทำซ้ำได้ คีย์ต้องเป็นประเภทที่ไม่เปลี่ยนรูป (สตริง, จำนวน, หรือ tuple ที่มีองค์ประกอบไม่เปลี่ยนรูป) และต้องไม่ซ้ำกัน

In [ ]:
# empty dictionary
my_dict = {}

my_dict = {"key": "value"}

my_dic = {"name": "Phisan", 'last_name': 'Sookkhee'}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [ ]:
'''
non-structure data
นักศึกษาคนที่ 1 นายพิศาล สุขขี รหัส 123456
นักศึกษาคนที่ 2 นายสายฟ้า ธานี รหัส 098764222
นักศึกษาคนที่ 3 เจษฎา ตอนศรี รหัส 9999282727
'''

# structure data
my_students = {
    '123456' : {
        'name': 'นายพิศาล',
        'lname': 'สุขขี',
    },
    '098764222': {
        'name': 'สายฟ้า',
        'lname': 'ธานี',
    },
    '9999282727': {
        'name': 'เจษฎา',
        'lname': 'ตอนศรี',
    }
}

In [ ]:
my_students.get('123456').get('name')

### วิธีการเข้าถึงข้อมูลสมาชิกภายในพจนานุกรม

แม้ว่าการจัดทำดัชนีจะมีลักษณะคล้ายกับข้อมูลประเภทอื่น ๆ ในการเข้าถึงค่าข้อมูลสมาชิกในพจนานุกรมจะใช้คีย์ คีย์สามารถใช้ได้ทั้งภายในวงเล็บเหลี่ยม หรือด้วยเมธอด get( )

ความแตกต่างในขณะที่ใช้ get( ) คือจะทำการส่งกลับค่า None แทนที่จะเป็น KeyError ถ้าหากไม่พบคีย์

In [ ]:
my_dict = {'name':'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# my_dict.get('address')
# my_dict['address']

In [ ]:
profile = {
    "name": "Phisan",
    "lname": "Sookkhee",
    "age": 18,
}

profile.get("age")

### วิธีเปลี่ยนหรือเพิ่มข้อมูลสมาชิกในพจนานุกรม

พจนานุกรมสามารถเปลี่ยนแปลงค่าข้อมูลสมาชิกได้

เราสามารถเพิ่มข้อมูลใหม่ หรือเปลี่ยนค่าของข้อมูลที่มีอยู่โดยใช้โอเปอเรเตอร์กำหนดค่า ( = )

หากว่ามีคีย์อยู่แล้วในพจนานุกรม ค่าของข้อมูลใหม่จะได้รับการอัพเดตในคีย์ที่มีอยู่เดิม แต่หากไม่มีคีย์นั้นอยู่จะมีการเพิ่มคีย์ใหม่ : ค่าลงในพจนานุกรม

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict ['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# เพิ่มรายการ
my_dict ['address'] = 'Downtown'

# ผลลัพธ์: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict["address"] = "40/6"
my_dict['age'] = 18

In [ ]:
my_dict

### การลบพจนานุกรม หรือลบข้อมูลสมาชิกออกจากพจนานุกรม

เราสามารถลบข้อมูลสมาชิกในพจนานุกรมโดยใช้เมธอด pop( ) โดยวิธีนี้จะทำการลบข้อมูลสมาชิกผ่านคีย์ที่ระบุและส่งคืนค่าออกมาจากพจนานุกรม

และเราสามารถใช้เมทธอด popitem( ) เพื่อลบและส่งคืนค่าข้อมูลสมาชิกที่กำหนดเอง (อ้างอิงจากคีย์) จากพจนานุกรม

และสามารถลบข้อมูลทั้งหมดออกได้ในครั้งเดียวโดยใช้เมธอด clear( )

นอกจากนี้เรายังสามารถใช้คำสำคัญ del เพื่อลบทั้งพจนานุกรมด้วย

In [ ]:
# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}

# remove a particular item
# Output: 16
print(squares.pop(4))

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item
# Output: (1, 1)
print(squares.popitem())

# Output: {2: 4, 3: 9, 5: 25}
print(squares)

# Output: {2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

In [ ]:
my_dict = {'name': 'Jack', 'age': 18, 'address': '40/6'}

del my_dict["address"]

In [ ]:
my_dict

## Set

เซต (Set) คือ

เซตในภาษาไพธอนเป็นโครงสร้างข้อมูลที่เหมือนกันกับเซตทางคณิตศาสตร์ อาจประกอบด้วยข้อมูลสมาชิกต่าง ๆ โดยไม่คำนึงถึงลำดับในการจัดเก็บ และข้อมูลสมาชิกทุกตัวภายในเซตมีเอกลักษณ์ (ไม่มีรายการที่ซ้ำกัน)

เราสามารถเพิ่มและลบข้อมูลสมาชิกของเซต เราสามารถใช้ข้อมูลสมาชิกของเชตในการทำซ้ำเช่นเดียวกับลิสต์ ตลอดจนสามารถใช้การดำเนินการมาตรฐานที่เกี่ยวกับเซต เช่น union, intersection, difference, symmetric difference นอกจากนั้นยังสามารถตรวจสอบว่าข้อมูลใด ๆ เป็นสมาชิกภายในเซตหรือไม่

ลำดับของข้อมูลสมาชิกภายในเซตจะไม่ได้ถูกกำหนดไว้ และชนิดข้อมูลที่เปลี่ยนแปลงไม่ได้ใด ๆ สามารถเป็นเป็นองค์ประกอบของเซตได้ เช่น จำนวน, จำนวนจริง, ข้อความ, ทัพเพิล เป็นต้น ประเภทข้อมูลที่เปลี่ยนแปลงได้ ไม่สามารถเป็นองค์ประกอบของเซตได้ โดยเฉพาะอย่างยิ่ง ลิสต์ นั้นไม่สามารถเป็นข้อมูลสมาชิกของเซตได้ และเซตใด ๆ ไม่สามารถใช้เป็นข้อมูลสมาชิกภายในเซตอื่น ๆ ได้ นั่นคือ จะไม่มีเซตภายในเซตได้

เซตสมารถสร้างขึ้นโดยการวางข้อมูลทั้งหมด (element) ภายในเครื่องหมายวงเล็บปีกกา {} คั่นด้วยเครื่องหมายจุลภาคหรือใช้ฟังก์ชั่น set()

โดยเซตนั้นสามารถมีข้อมูลสมาชิกจำนวนมาก และอาจมีหลากหลายประเภท (จำนวน, จำนวนจริง, ข้อความ เป็นต้น) แต่สมาชิกภายในเซตต้องไม่เป็นข้อมูลประเภทที่มีขนาดไม่คงตัว เช่น ลิสต์ หรือ ดิกชันนารี

In [ ]:
# เซตของจำนวนเต็ม
my_set = {1, 2, 3}
print(my_set)

# เซตที่มีข้อมูลสมาชิกหลากหลายประเภทข้อมูล
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
# ข้อมูลสมาชิกภายในเซตจะไม่สามารถซ้ำกันได้
my_set = {1,2,3,4,3,2}
print(my_set)

# สมาชิกภายในเซตต้องไม่เป็นข้อมูลประเภทที่แก้ไขได้
# เช่น [3, 4] เป็นลิสต์ที่แก้ไขได้

# บรรทัดที่ 11 จะทำให้เกิดข้อผิดพลาด
#เพราะไม่สามารถใช้ลิสต์ในการเป็นข้อมูลสมาชิกภายในเซต
# TypeError: unhashable type: 'list'
my_set = {1, 2, [3, 4]}

# เราสามารถสร้างเซตจากลิสต์ได้เลย
# Output: {1, 2, 3}
my_set = set([1,2,3,2])
print(my_set)

การสร้างเซตที่ว่างเปล่าจะมีความยุ่งยากเล็กน้อย

การใช้วงเล็บปีกกาที่ว่างเปล่า {} เพื่อประกาศตัวแปร จะทำให้เกิดพจนานุกรมว่างเปล่าในภาษาไพธอน (ไม่ใช่เซต)

ดังนั้นเมื่อต้องการสร้างเซตเปล่า ๆ ที่ไม่มีข้อมูลสมาชิกใด ๆ ภายในเซต เราจะใช้ฟังก์ชัน set () โดยไม่มีอาร์กิวเมนต์ใด ๆ แทน {}

In [ ]:
# initialize a with {}
a = {}

# check data type of a
# Output: <class 'dict'>
print(type(a))

# initialize a with set()
a = set()

# check data type of a
# Output: <class 'set'>
print(type(a))

### วิธีการแก้ไขเซตในภาษาไพธอน

สำหรับเซตนั้น ข้อมูลสมาชิกภายในเซตถูกจัดเก็บอย่างไม่เป็นลำดับ ดังนั้นจัดทำดัชนีเพื่ออ้างอิงถึงข้อมูลสมาชิกแต่ละตัวจึงไม่มีความหมาย

เราไม่สามารถเข้าถึงหรือเปลี่ยนข้อมูลสมาชิกของเซตโดยใช้การจัดทำดัชนีหรือการหั่นส่วน ซึ่งเป็นการดำเนินการที่เซตไม่ให้การรองรับ

เราสามารถเพิ่มข้อมูลสมาชิกเพียงหนึ่งตัวโดยใช้เมธอด add() และ ข้อมูลสมาชิกหลายตัวโดยใช้เมธอด update() ในการ update() สามารถใช้ tuples, list, strings หรือ other sets เป็นอาร์กิวเมนต์ได้ ซึ่งจะต้องหลีกเลี่ยงความซ้ำซ้อนของข้อมูล

In [ ]:
# ตั้งต่าเริ่มต้นให้ตัวแปร
my_set = {1,3}
print(my_set)

# หากเปิด comment ในบรรทัดที่ 8 จะพบ Error
# TypeError: 'set' object does not support indexing

# my_set[0]

# เพ่ิมข้อมูล 1 ตัวเข้าสู่เซต
# ผลลัพธ์: {1, 2, 3}
my_set.add(2)
print(my_set)

# เพ่ิมข้อมูลหลายตัวเข้าสู่เซต
# ผลลัพธ์: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# เพิ่มข้อมูลหลายตัวจากลิสต์ และเซต
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

### การลบข้อมูลสมาชิกภายในเซต

ข้อมูลสมาชิกของเซตสามารถที่จะถูกลบออกจากเซตได้โดยใช้เมธอด discard() และ remove()

ข้อแตกต่างระหว่างสองคือในขณะที่ใช้ discard() หากไม่มีรายการอยู่ในเซ็ตก็จะไม่มีการเปลี่ยนแปลง remove() จะทำให้เกิดข้อผิดพลาดในสภาพดังกล่าว

ดังแสดงได้ในตัวอย่างด้านล่าง

In [ ]:
# กำหนดค่าเริ่มต้นให้กับตัวแปร my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# การลบข้อมูลสมาชิกโดยใช้เมธอด discard()
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# การลบข้อมูลสมาชิกโดยใช้เมธอด remove()
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# การลบข้อมูลสมาชิกที่ไม่ปรากฏอยู่ในเซต
# โดยใช้เมธอด discard()
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# การลบข้อมูลสมาชิกที่ไม่ปรากฏอยู่ในเซต
# โดยใช้เมธอด remove()
# จะมทำให้ปรากฏ Error
# Output: KeyError: 2

my_set.remove(2)

ในทำนองเดียวกันเราสามารถลบและส่งคืนค่าข้อมูลสมาชิกได้โดยใช้เมธอด pop ()

แต่เนื่องด้วยข้อมูลภายในเซตถูกจัดเก็บอย่างไม่เป็นลำดับ ทำให้ไม่สามารถคาดคะเนล่วงหน้าได้ว่าผลของการใช้เมธอด pop() นั้นจะทำให้ได้ข้อมูลอะไรออกมาในขณะนั้น

และนอกจากนี้เรายังสามารถลบรายการทั้งหมดออกจากเซตโดยใช้เมธอด clear ()

In [ ]:
# ผลลัพธ์: เซตที่มีข้อมูลสมาชิกที่ไม่ซ้ำกัน
my_set = set("HelloWorld")
print(my_set)

# ทำการ pop() ข้อมูลภายในเซต
# ผลลัพธ์: ข้อมูลถูก pop() แบบสุ่ม
print(my_set.pop())

# pop() ข้อมูล
my_set.pop()
print(my_set)

# ล้างข้อมูลภายในเซตทั้งหมด
# ผลลัพธ์: set() - เซตว่าง
my_set.clear()
print(my_set)

### การดำเนินการกับเซต

เซตสามารถนำไปใช้ในการดำเนินการทางคณิตศาสตร์ได้ เช่น union, intersection, difference and symmetric difference

ลองพิจารณาการดำเนินการระหว่างเซต 2 เซตต่อไปนี้

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

### Set Union

union ของเซต A และเซต B คือ เซตที่ประกอบไปด้วยข้อมูลสมาชิกจากเชต A และเซต B

union สมารถดำเนินการโดยใช้เครื่องหมาย | หรือสามารถดำเนินการได้โดยใช้เมธอด union()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# ใช้ | operator
print(A | B)

In [ ]:
A.union(B)

In [ ]:
B.union(A)

### Set Intersection

Intersection ของเซต A และเซต B คือ เซตของข้อมูลสมาชิกที่มีอยู่ในเซต A และเซต B

การ Intersection สามารถดำเนินการโดยใช้เครื่องหมาย & หรือสามารถทำได้โดยใช้เมธอด intersection()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# ใช้ & operator
print(A & B)

In [ ]:
A.intersection(B)

### ความต่างระหว่างเซต

ความต่างของเซต A และเซต B (A - B) คือเซตที่ประกอบไปด้วยข้อมูลสมาชิกที่อยู่ใน A แต่ไม่อยู่ใน B เช่นเดียวกัน B - A คือเซตที่ประกอบไปด้วยข้อมูลสมาชิกที่อยู่ใน B แต่ไม่อยู่ใน A

การหาความต่างระหว่างเซตสามารถดำเนินการโดยใช้ตัวดำเนินการ - เช่นเดียวกันสามารถดำเนินการโดยใช้เมธอด difference()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# ใช้ - operator on A
print(A - B)

In [ ]:
A.difference(B)

In [ ]:
B - A

In [ ]:
B - A

### ความต่างแบบสมมาตรระหว่างเซต

ความแตกต่างแบบสมมาตรระหว่างเซต A และเซต B คือเซตของข้อมูลสมาชิกจากทั้งเซต A และเซต B ยกเว้นข้อมูลสมาชิกที่มีอยู่ทั่วไปในทั้งสองเซต

ความแตกต่างแบบสมมาตรจะดำเนินการโดยใช้ตัวดำเนินการ ^ และสามารถทำได้โดยใช้เมธอด symmetric_difference()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# ใช้ ^ operator
print(A ^ B)

In [ ]:
A.symmetric_difference(B)

In [ ]:
B.symmetric_difference(A)

<hr>

## แบบฝึกหัด

<hr>

# การคำนวณทางคณิตศาสตร์

### คำสั่งเลขคณิต (arithmetic operations) และนิพจน์ทางคณิตศาสตร์ (mathematical expression)

* เราสามารถทำการคำนวณทางคณิตศาสตร์ได้ โดยใช้เครื่องหมายบวก +, ลบ -, คูณ *, และหาร / กับตัวเลขได้
* ข้อสังเกต: เราจะใช้เครื่องหมายดอกจัน * แทนการคูณนะครับ

* เช่น ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ทางคณิตศาสตร์  5×2+10  คอมพิวเตอร์ก็จะคำนวณผลลัพธ์ให้ทันที

In [ ]:
5 * 2 + 10

- ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ $ 10 + \frac{5}{2} $ เราจะได้ผลลัพธ์ดังนี้ครับ

In [ ]:
10 + 5 / 2

- จะสังเกตได้ว่า คอมพิวเตอร์คำนวณการหาร 5 / 2 และใส่ค่าทศนิยมให้โดยอัตโนมัติครับ

<hr>

**เกร็ดน่ารู้** ตัวดำเนินการทางคณิตศาสตร์

ตัวดำเนินการสำหรับการบวก ลบ คูณ และหาร ใน python ใช้เครื่องหมาย +, -, * และ / ตามลำดับ

นอกจากนี้แล้วยังมีการใช้เครื่องหมาย **, //, % ซึ่งหมายถึงการยกกำลัง, การหารปัดเศษทิ้ง และเศษที่ได้จากการหาร ตามลำดับ

<hr>

In [ ]:
4**3

In [ ]:
7//3

In [ ]:
7%3

ตัวอย่าง ทอนเท่าไร

นักเรียนซื้อแฟลชไดรฟ์ ขนาด 32 GB ราคา 117 บาท ที่ร้านสะดวกซื้อ โดยจ่ายเงินด้วยธนบัตรหนึ่งร้อยบาท 2 ใบ ในลิ้นชักเก็บเงินของร้าน มีแต่ธนบัตร 20 บาท และเหรียญหนึ่งบาท พนักงานจะต้องทอนเงินเป็นธนบัตร 20 บาท จำนวนกี่ใบ และเหรียญหนึ่งบาทจำนวนกี่เหรียญ?

In [89]:
change = 200 - 177
note20 = change//20
coin1 = change % 20

print("เงินทอนทั้งหมด", change, "บาท")
print("เป็นธนบัตรยี่สิบบาท จำนวน", note20, "ใบ")
print("เป็นหนึ่งบาท จำนวน", coin1, "เหรียญ")

เงินทอนทั้งหมด 23 บาท
เป็นธนบัตรยี่สิบบาท จำนวน 1 ใบ
เป็นหนึ่งบาท จำนวน 3 เหรียญ

### แบบฝึกหัด

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันดูบ้างครับ

1. $ \frac{3}{4} + \frac{1}{4} $

In [ ]:
# ข้อที่ 1

2. $ 1 + 6 \times 8 - 7 $

In [ ]:
# ข้อที่ 2

3. $ 5 \times 6 + 7 \times 8 - \frac{2}{5} $

In [ ]:
# ข้อที่ 3

### วงเล็บในนิพจน์ทางคณิตศาสตร์

- ทั้งนี้ เราสามารถใช้เครื่องหมายวงเล็บ `( )` ได้เหมือนกับนิพจน์ทางคณิตศาสตร์ปกติเลยครับ
- เช่น เราสามารถคำนวณค่าของนิพจน์ $ 4 \times 3 + (1 + 2) / 4 $ ได้ด้วยคำสั่งนี้

In [ ]:
4 * 3 + (1 + 2) / 4

- ข้อแตกต่างคือ ในกรณีที่มีวงเล็บซ้อนวงเล็บ เราจะใช้เครื่องหมายวงเล็บ `( )` เสมอ <u>**ห้ามใช้**</u>เครื่องหมายก้ามปู `[ ]` และเครื่องหมายปีกกา `{ }` โดยเด็ดขาด
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ \left( \left[ 1 / \left\{ 2 + 3 \right\} \right] \times 4 + 5 \right) / 6 $ เราจะต้องเปลี่ยนก้ามปูและปีกกากลับมาเป็นวงเล็บก่อนเสมอ

In [ ]:
((1 / (2 + 3)) * 4 + 5) / 6

- **หัวใจ:** เครื่องหมายวงเล็บมีหน้าที่เปลี่ยนลำดับการทำงาน โดยจะเริ่มทำในวงเล็บก่อนเสมอ โดยลำดับการทำงานจะเริ่มจาก (1) ทำในวงเล็บ (2) คูณและหาร (3) บวกและลบ
- เช่น ลองสังเกตผลลัพธ์ของนิพจน์ทั้งสองนี้ครับ: $ (1 + 2) \times 3 $ กับ $ 1 + (2 \times 3) $

In [ ]:
(1 + 2) * 3

In [ ]:
1 + (2 * 3)

ทั้งนี้ขอให้ท่านระมัดระวังการใช้เครื่องหมายคูณ `*` และหาร `/` ด้วยนะครับ เพราะถ้าหากไม่ระบุวงเล็บให้ชัดเจน ลำดับการคำนวณก็อาจจะไม่เป็นไปตามที่ท่านต้องการได้

### แบบฝึกหัด

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันครับ

1. $ 3 \times (4 + 1 - 2 \times 5) $

2. $ \frac{1 + 2 + 3}{4 + 5 + 6} $   


[**หมายเหตุ:** โปรดเลือกการใช้เครื่องหมายวงเล็บด้วยความระมัดระวัง]

### เครื่องหมายยกกำลัง (power) และการถอดราก (root)

- เครื่องหมายยกกำลังในภาษา Python จะใช้เครื่องหมาย `**` (ดอกจันเขียนติดกัน 2 ดวง) ครับ
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ 2^5 $ เราจะใช้คำสั่งว่า

In [ ]:
2 ** 5

- เมื่อเรานำเครื่องหมายยกกำลังมาใส่ในนิพจน์ทางคณิตศาสตร์ ลำดับการทำงานจะเปลี่ยนไปตามนี้ครับ
  1. ทำในวงเล็บก่อน
  2. ทำเครื่องหมายยกกำลัง
  3. ทำเครื่องหมายคูณและหาร
  4. ทำเครื่องหมายบวกและลบ
- เช่น ลองสังเกตการคำนวณค่าของนิพจน์ 3 ตัวนี้กันครับ: `(2 * 5) ** 3`, `2 * (5 ** 3)`, และ `2 * 5 ** 3`

In [ ]:
(2 * 5) ** 3

In [ ]:
2 * (5 ** 3)

In [ ]:
2 * 5 ** 3

- ดังนั้นเพื่อความปลอดภัย เราจึงนิยมเขียนเครื่องหมายยกกำลัง `**` ติดกับตัวเลข เพื่อให้เป็นที่รู้กันว่า ถ้าหากไม่มีวงเล็บ เราจะเริ่มทำจากเครื่องหมายยกกำลังก่อนเสมอ เช่น เราจะเขียนนิพจน์ $ 2 \times 5^3 $ ด้วยคำสั่ง `2 * 5**3` เป็นต้น

---
- นอกจากนี้เรายังสามารถคำนวณค่าราก

(root) ได้โดยการใช้สูตร:

$$ \sqrt[r]{a} = a^{1/r} $$

- เช่น เราสามารถคำนวณค่า $ \sqrt[3]{8} $ (รากที่ 3 ของ 8) ได้โดยคำสั่ง `8**(1/3)`

In [ ]:
8**(1/3)

### แบบฝึกหัด

เรามาคำนวณค่าของนิพจน์ดังต่อไปนี้กันครับ

1. $ 3^{5 + 3/4} $

2. $ \sqrt[2]{\left( 7 + 3 \times 4 \right)} $

3. $ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

---

# ตัวดำเนินการบูลีน

ประโยคคำสั่งที่ต้องมีการเปรียบเที่ยบเงื่อนไข เช่น if , if-else while เป็นต้น เราต้องระบุนิพจน์เปรียบเทียบได้แก่ True หรือ False ในการกำหนดเงื่อนไข

แต่หาต้องการกำหนดเงือนไขที่ซับซ้อนขึ้น สามารถใช้ตัวดำเนินการบูลีนได้แก่ and or หรือ not ในการเชื่อมนิพจน์เปรียบเทียบอย่างง่ายเข้าด้วยกันได้

<hr>

<img height="300px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2020/02/opertor_boolean.png" align="left" hspace="10px" vspace="0px">

In [91]:
age = 12

In [92]:
age > 13 and age < 19

False

In [93]:
age > 13 or age < 19

True

In [94]:
not age > 13

True

---