# การโปรแกรมภาษา Python (ไพธอน) เบื้องต้น - https://bit.ly/2EtvHi5

ธนารักษ์ ธีระมั่นคง  (Email: `thanaruk@siit.tu.ac.th`)

ปรัชญา บุญขวัญ (Email: `prachya.boonkwan@nectec.or.th`)

พิกุล เวชชานุเคราะห์ (Email: `pikulvej@gmail.com`)

ราชศักดิ์ สมยานนทนากุล (Email: `rachasak.rsu@gmail.com`)

อุไรวรรณ บัวตูม (Email: `uraiwanu@buu.ac.th`)

สิริวรรณ แต้วิจิตร (Email: `siriwont@gmail.com`)

ธรรมนุวัฒน์ วาลีประโคน  (Email: `tamnuwat@eng.src.ku.ac.th`)

พลากร นิลเขต  (Email: `phalakron2000@gmail.com`)

## บทนำ  การโปรแกรมภาษา Python (ไพธอน) เบื้องต้น 1 
(1-2, 7-8 ธันวาคม 2561)

- สำหรับวันนี้ เราจะมาหัดเขียนโปรแกรมภาษา Python กันครับ
- ภาษา Python
  - ภาษาโปรแกรมยอดนิยมสำหรับงานด้านวิทยาการข้อมูล (data science) และปัญญาประดิษฐ์ (artificial intelligence)
  - เหมาะสำหรับผู้ที่เริ่มต้นเขียนโปรแกรม เพราะมีกฎเกณฑ์ของภาษาที่ไม่ซับซ้อน
  - ตามปกติแล้ว นิสิตปี 4 ของภาควิชาวิทยาการคอมพิวเตอร์ สามารถเรียนรู้ได้ด้วยตัวเอง และเขียนโปรแกรมด้วยภาษา Python ได้ภายใน 3 ชั่วโมง

- เนื้อหา
  1. print
  2. mathematical operations
  3. variables
  4. list
  5. string
  6. for loop
  7. branching
  8. โจทย์เพิ่มทักษะ

- ในคอร์สนี้ เราจะใช้ *การเรียนรู้แบบสะท้อนกลับ* (reflective learning)
  - ท่านสามารถเลือกวิธีการเรียนรู้ได้หลากหลาย ทั้งจากคำบรรยายในแบบเรียนนี้ จากหนังสือแบบเรียน จากการเรียนรู้ด้วยตัวเองผ่านแบบฝึกหัดตามแบบเรียนนี้ โดยเราได้เตรียมผู้ช่วยสอนไว้คอยตอบคำถามของท่านไว้แล้วครับ
  - ในแต่ละกิจกรรม จะมีแบบทดสอบให้ท่านลองทำเป็นระยะๆ ด้วย เพื่อตรวจสอบความเข้าใจของท่าน
  - หากท่านยังไม่เข้าใจ อย่าเพิ่งไปเครียดครับ ท่านสามารถเปลี่ยนวิธีการเรียนรู้ให้ตรงกับจริตของท่านได้ตลอดเวลาครับ
  - และสำหรับท่านที่เคยมีประสบการณ์กับภาษา Python มาก่อน ท่านสามารถทดลองทำแบบฝึกหัดเสริมทักษะที่ท้าย workshop ได้เลยนะครับ ;) 

- วิธีการใช้ Google Colab อย่างง่าย
  - กล่องคำสั่งจะเป็นสีเทา เราสามารถเขียนโปรแกรมภาษา Python ลงในกล่องคำสั่งนี้ได้
  - **วิธีรัน (run):** เมื่อเขียนโปรแกรมลงไปแล้ว เราสามารถสั่งรันได้โดยการกดปุ่มเพลย์ ▶️ ที่อยู่หน้ากล่องคำสั่ง หรือกดปุ่ม Shift+Enter ก็ได้ครับ
  - หากยังไม่เห็นปุ่มเพลย์ ให้เอาเม้าส์ไปคลิกที่กล่องคำสั่งก่อน ปุ่มเพลย์ก็จะปรากฏขึ้นมาครับ

-  เราจะทำให้ทุกท่านเขียนโปรแกรมภาษา Python ได้ภายใน 3 ชั่วโมงกัน ถ้าพร้อมแล้ว เรามาเริ่มกันเลยครับ



---

## กิจกรรม 1: พิมพ์ข้อความออกหน้าจอ

### คำสั่ง `print`

- คำสั่งพิมพ์ข้อความในภาษา Python คือ `print`
- เช่น `print('Hello')` ก็จะแสดงข้อความว่า `Hello` ออกที่หน้าจอ
- ลองคลิกที่กล่องคำสั่งสีเทาที่อยู่ด้านล่าง แล้วกดปุ่มเพลย์ในเครื่องหมายก้ามปู `[ ]` หรือกดปุ่ม Shift+Enter ดูสิครับ เห็นข้อความ `Hello` ที่อยู่ในบรรทัดต่อมาไหมครับ

In [ ]:
print('Hello')

In [ ]:
print('test\n123\ntest-test\t789\n')

  - จะสังเกตได้ว่า ข้อความ `Hello` ที่เราต้องการจะให้พิมพ์ออกหน้าจอ จะอยู่ในเครื่องหมายคำพูดเดี่ยว (single quote) ในตัวโค้ดเสมอ
  - สิ่งที่อยู่ในเครื่องหมายคำพูดเดี่ยวนี้ เราเรียกว่า *สตริง* (string) ซึ่งแปลเป็นไทยว่า "ข้อความ" นั่นเองครับ

### แบบฝึกหัด 1.1

คราวนี้เรามาลองพิมพ์สตริง `'สวัสดีจ้ะ'` ออกที่หน้าจอกันบ้าง ลองเติมข้อความดังกล่าวลงในเครื่องหมายคำพูดเดี่ยวดูนะครับ

In [ ]:
print('สวัสดีครับ')

ลองเปลี่ยนสตริงดูตามใจชอบ แล้วลองรันดูนะครับ

### หมายเหตุ (comment)

- บางครั้งเราอยากใส่หมายเหตุลงไปในโค้ดเพื่อเป็นบันทึกช่วยจำ เราจะใช้สัญลักษณ์ `#` (แฮช หรือ hash) นำหน้าหมายเหตุ โดยเมื่อไรก็ตามที่ใช้เครื่องหมาย `#` สิ่งที่ตามหลังเครื่องหมายนี้จะเป็นหมายเหตุทั้งหมด เช่น

In [ ]:
print('Hello')      # แสดงข้อความ Hello ออกที่หน้าจอ

- หากเราต้องการหมายเหตุทั้งบรรทัด ให้เราใส่เครื่องหมาย `#` ที่ด้านหน้าสุด เช่น

In [ ]:
# แสดงข้อความ Hello ออกที่หน้าจอ
print('Hello')

- เวลาคอมพิวเตอร์ทำงาน มันจะกระโดดข้ามส่วนที่เป็นหมายเหตุไป
- เช่น ในโค้ดด้านล่างนี้ คอมพิวเตอร์จะกระโดดข้ามบรรทัดที่ 3 ไป เพราะถูกมองเป็นหมายเหตุ

In [ ]:
print('Please', end = '.  % ')
print('Mr.', end = ' ')
# print('and Ms.')
print('Postman', end = ' ')
print('Look and See')

### แบบฝึกหัด 1.2

ลองใส่เครื่องหมาย `#` หน้าบรรทัดต่างๆ ในโค้ด แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [ ]:
print('Hello')
print('World')
print('My')
print('name')
print('is')
print('Peter')



---

## กิจกรรม 2: การคำนวณทางคณิตศาสตร์

### คำสั่งเลขคณิต (arithmetic operations) และนิพจน์ทางคณิตศาสตร์ (mathematical expression)

- เราสามารถทำการคำนวณทางคณิตศาสตร์ได้ โดยใช้เครื่องหมายบวก `+`, ลบ `-`, คูณ `*`, และหาร `/` กับตัวเลขได้
  - **ข้อสังเกต:** เราจะใช้เครื่องหมายดอกจัน `*` แทนการคูณนะครับ
- เช่น ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ทางคณิตศาสตร์ $ 5 \times 2 + 10 $ คอมพิวเตอร์ก็จะคำนวณผลลัพธ์ให้ทันที

In [ ]:
5 * 2 + 10

- ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ $ 10 + \frac{5}{2} $ เราจะได้ผลลัพธ์ดังนี้ครับ

In [ ]:
10 + 5 / 2

- จะสังเกตได้ว่า คอมพิวเตอร์คำนวณการหาร 5 / 2 และใส่ค่าทศนิยมให้โดยอัตโนมัติครับ

### แบบฝึกหัด 2.1

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันดูบ้างครับ

1. $ \frac{3}{4} + \frac{1}{4} $

In [ ]:
3/4 + 1/4

2. $ 1 + 6 \times 8 - 7 $

In [ ]:
1+6*8-7

3. $ 5 \times 6 + 7 \times 8 - \frac{2}{5} $

In [ ]:
5*6+7*8-2/5

### วงเล็บในนิพจน์ทางคณิตศาสตร์

- ทั้งนี้ เราสามารถใช้เครื่องหมายวงเล็บ `( )` ได้เหมือนกับนิพจน์ทางคณิตศาสตร์ปกติเลยครับ
- เช่น เราสามารถคำนวณค่าของนิพจน์ $ 4 \times 3 + (1 + 2) / 4 $ ได้ด้วยคำสั่งนี้

In [ ]:
4 * 3 + (1 + 2) / 4

- ข้อแตกต่างคือ ในกรณีที่มีวงเล็บซ้อนวงเล็บ เราจะใช้เครื่องหมายวงเล็บ `( )` เสมอ <u>**ห้ามใช้**</u>เครื่องหมายก้ามปู `[ ]` และเครื่องหมายปีกกา `{ }` โดยเด็ดขาด
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ \left( \left[ 1 / \left\{ 2 + 3 \right\} \right] \times 4 + 5 \right) / 6 $ เราจะต้องเปลี่ยนก้ามปูและปีกกากลับมาเป็นวงเล็บก่อนเสมอ

In [ ]:
((1 / (2 + 3)) * 4 + 5) / 6

- **หัวใจ:** เครื่องหมายวงเล็บมีหน้าที่เปลี่ยนลำดับการทำงาน โดยจะเริ่มทำในวงเล็บก่อนเสมอ โดยลำดับการทำงานจะเริ่มจาก (1) ทำในวงเล็บ (2) คูณและหาร (3) บวกและลบ
- เช่น ลองสังเกตผลลัพธ์ของนิพจน์ทั้งสองนี้ครับ: $ (1 + 2) \times 3 $ กับ $ 1 + (2 \times 3) $

In [ ]:
(1 + 2) * 3

In [ ]:
1 + (2 * 3)

- ทั้งนี้ขอให้ท่านระมัดระวังการใช้เครื่องหมายคูณ `*` และหาร `/` ด้วยนะครับ เพราะถ้าหากไม่ระบุวงเล็บให้ชัดเจน ลำดับการคำนวณก็อาจจะไม่เป็นไปตามที่ท่านต้องการได้

### แบบฝึกหัด 2.2

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันครับ

1. $ 3 \times (4 + 1 - 2 \times 5) $

2. $ \frac{1 + 2 + 3}{4 + 5 + 6} $   [**หมายเหตุ:** โปรดเลือกการใช้เครื่องหมายวงเล็บด้วยความระมัดระวัง]

In [ ]:
(1+2+3)/(4+5+6)

3. $ 7 \times \frac{5 + 6}{7 + \frac{7}{8}} $

### เครื่องหมายยกกำลัง (power) และการถอดราก (root)

- เครื่องหมายยกกำลังในภาษา Python จะใช้เครื่องหมาย `**` (ดอกจันเขียนติดกัน 2 ดวง) ครับ
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ 2^5 $ เราจะใช้คำสั่งว่า

In [ ]:
2 ** 5

- เมื่อเรานำเครื่องหมายยกกำลังมาใส่ในนิพจน์ทางคณิตศาสตร์ ลำดับการทำงานจะเปลี่ยนไปตามนี้ครับ
  1. ทำในวงเล็บก่อน
  2. ทำเครื่องหมายยกกำลัง
  3. ทำเครื่องหมายคูณและหาร
  4. ทำเครื่องหมายบวกและลบ
- เช่น ลองสังเกตการคำนวณค่าของนิพจน์ 3 ตัวนี้กันครับ: `(2 * 5) ** 3`, `2 * (5 ** 3)`, และ `2 * 5 ** 3`

In [ ]:
(2 * 5) ** 3

In [ ]:
2 * (5 ** 3)

In [ ]:
2 * 5 ** 3

- ดังนั้นเพื่อความปลอดภัย เราจึงนิยมเขียนเครื่องหมายยกกำลัง `**` ติดกับตัวเลข เพื่อให้เป็นที่รู้กันว่า ถ้าหากไม่มีวงเล็บ เราจะเริ่มทำจากเครื่องหมายยกกำลังก่อนเสมอ เช่น เราจะเขียนนิพจน์ $ 2 \times 5^3 $ ด้วยคำสั่ง `2 * 5**3` เป็นต้น

- นอกจากนี้เรายังสามารถคำนวณค่าราก (root) ได้โดยการใช้สูตร:

$$ \sqrt[r]{a} = a^{1/r} $$

- เช่น เราสามารถคำนวณค่า $ \sqrt[3]{8} $ (รากที่ 3 ของ 8) ได้โดยคำสั่ง `8**(1/3)`

In [ ]:
8**(1/3)

### แบบฝึกหัด 2.3

เรามาคำนวณค่าของนิพจน์ดังต่อไปนี้กันครับ

1. $ 3^{5 + 3/4} $

In [ ]:
3 ** (5+3/4)

2. $ \sqrt[2]{\left( 7 + 3 \times 4 \right)} $

3. $ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [ ]:
print(1+2)
print(4+5)
print(7+10)



---

## กิจกรรม 3: ตัวแปร

### ตัวแปร (variable)

- ตัวแปรเปรียบเสมือนที่ทดเลข เพื่อที่จะได้นำผลลัพธ์จากการคำนวณค่าของนิพจน์ที่ทดไว้ ไปใช้ต่อได้ในอนาคต
- เนื่องจากกระดาษในคอมพิวเตอร์มีขนาดใหญ่มาก เราจึงต้องจองพื้นที่สำหรับทดเลขและตั้งชื่อเอาไว้ เวลาจะหยิบสิ่งที่ทดไว้กลับมาใช้ใหม่จะได้ไม่หลงที่นั่นเองครับ
- เช่น เราสามารถทดค่าของ $ 2^5 $ เก็บไว้ในตัวแปร `a` และทดค่าของ $\sqrt[2]{5}$ เก็บไว้ในตัวแปร `b` เพื่อใช้ต่อในการคำนวณต่อๆ ไปได้ ซึ่งในตัวอย่างนี้เราจะคำนวณค่าของ $ a^3 + b^3 $ กัน

In [ ]:
a = 2**5               # ทดค่าไว้ในตัวแปร a
b = 5**(1/2)           # ทดค่าไว้ในตัวแปร b
print("a = ", a)
print("b = ", b)
a**3 + b**3

- เราสามารถพิมพ์ค่าตัวแปรออกหน้าจอได้ด้วยคำสั่ง `print` เช่นเดียวกับการแสดงข้อความ เช่น

In [ ]:
print(a)
print(b)

- แต่บางครั้งการตั้งชื่อตัวแปรด้วยตัวอักษรเดี่ยวๆ ก็จำยาก เดี๋ยวมาอ่านทีหลังก็อาจจะลืมอีก เราเลยนิยมตั้งชื่อตัวแปรให้เป็นคำที่อ่านแล้วจำได้ง่ายแทนครับ เช่น `width` (ความกว้าง), `height` (ความสูง), และ `area` (พื้นที่) ดังตัวอย่างด้านล่างนี้

In [ ]:
width = 40
height = 30
area = width * height
print(area)

- หากชื่อตัวแปรประกอบด้วยหลายคำ ให้ใช้เครื่องหมาย _ (ขีดเส้นใต้ หรือ underscore) คั่นระหว่างคำ เพื่อให้อ่านง่ายขึ้น เช่น `area_of_triangle` พื้นที่สามเหลี่ยม เป็นต้น

In [ ]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print(area_of_triangle)

- นอกจากนี้คำสั่ง `print` ยังสามารถพิมพ์ค่าออกหน้าจอได้หลายๆ อันพร้อมกัน เช่น

In [ ]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print('width =', width, 'and height =', height)
print('area = width * height =',area_of_triangle)

### แบบฝึกหัด 3.1

1. ทดลองกำหนดค่าในตัวแปร `a`, `b`, และ `c` ในโค้ดด้านล่าง แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [ ]:
a = 10
b = 20
c = 30
mean = (a + b + c) / 3
print(mean)

2. ตัวแปร `mean` ในโค้ดด้านบนคือค่าอะไร? ทำไมจึงต้องตั้งชื่อตัวแปรแบบนี้?

3. จงเขียนโค้ดลงในช่องว่างให้สมบูรณ์ เพื่อคำนวณค่าเฉลี่ยฮาร์โมนิก (harmonic mean) ของตัวแปร `a`, `b`, และ `c` โดยค่าเฉลี่ยฮาร์โมนิกมีสูตรดังนี้

$$ \mathrm{hmean}(a, b, c) = \frac{3}{\frac{1}{a} + \frac{1}{b} + \frac{1}{c}} $$

In [ ]:
a = 10
b = 20
c = 30
hmean = 3 / ( (1/a) + (1/b) + (1/c) )   # เติมโค้ดที่นี่
print(hmean)

4. ทดลองเปลี่ยนค่าตัวแปร `a`, `b`, และ `c` และสังเกตความเปลี่ยนแปลงของผลลัพธ์

5. เขียนโค้ดเพื่อคำนวณปริมาตรของทรงรี (ellipsoid) จากตัวแปรต่อไปนี้
  - ความกว้างเก็บอยู่ในตัวแปร `width`
  - ความยาวเก็บอยู่ในตัวแปร `length`
  - ความลึกเก็บอยู่ในตัวแปร `depth`

  สูตรของปริมาตรทรงรีมีดังนี้

$$ \mathtt{volume} = \frac{4}{3} \times \pi \times \mathtt{width} \times \mathtt{length} \times \mathtt{depth} $$

In [ ]:
import math as m

# pi = 3.1415926   # ค่า 𝜋 (ไพ)

# กำหนดความกว้างในตัวแปร width ให้เท่ากับ 20
width = 20

# กำหนดความยาวในตัวแปร length ให้เท่ากับ 30
length = 30

# กำหนดความลึกในตัวแปร depth ให้เท่ากับ 40
depth = 40

# คำนวณปริมาตรของทรงรีแล้วเก็บในตัวแปร volume
volume=(4/3)*float(m.pi)*width*length*depth

# พิมพ์ค่าในตัวแปร volume
print("volume = ", volume)



---

## กิจกรรม 4: การเก็บรายการข้อมูล

### ลิสต์ (list)

- ลิสต์ (list) คือรายการสิ่งของที่เราสามารถปรับเปลี่ยนรายการได้ตลอดเวลาครับ
- ลิสต์ใช้สัญลักษณ์ `[ ]` คั่นด้วยเครื่องหมายคอมมา `,`
- เช่น ลิสต์ของความสูงนักเรียนในกลุ่ม 5 คน มีดังนี้

In [ ]:
[163.5, 150.0, 167.0, 161.25, 170.0]

- เราสามารถนำลิสต์มาเก็บในตัวแปรได้ ทำให้ตัวแปรเดียวสามารถเก็บค่าไว้ได้หลายค่าครับ เช่น

In [ ]:
# ลิสต์ความสูงของนักเรียนในกลุ่ม
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]
print('student heights =', student_heights)

### แบบฝึกหัด 4.1

ลองสร้างลิสต์จากรายการสมาชิกดังต่อไปนี้ `[10, 20, 30, 40, 50]` แล้วเก็บลงในตัวแปร `my_list`

In [ ]:
my_list = [10, 20, 30, 40, 50]   # เติมโค้ดที่นี่
print(my_list)

### ขนาดของลิสต์

- เราสามารถหาขนาดของลิสต์ได้ด้วยคำสั่ง `len` ซึ่งย่อมาจากคำว่า length เช่น

In [ ]:
len(student_heights)

### แบบฝึกหัด 4.2

จงหาขนาดของลิสต์ในตัวแปร `my_list` ใส่ตัวแปร `my_length` แล้วพิมพ์ค่าของตัวแปรดังกล่าวออกหน้าจอ

In [ ]:
my_length = len(my_list)  # เติมโค้ดที่นี่
print(my_length)

### การเข้าถึงสมาชิกภายในลิสต์

- เราสามารถเข้าถึงสมาชิกแต่ละตัวในลิสต์ด้วยการระบุตำแหน่งของสมาชิกที่เราต้องการ
- การนับตำแหน่ง (index) ของสมาชิก จะเริ่มต้นจาก 0 เสมอ เช่น `student_heights[0]` จะแทนสมาชิกตัวแรกของลิสต์ความสูงของนักเรียน ในขณะที่ `student_heights[1]` จะแทนสมาชิกตัวที่ 2 ของลิสต์ ฯลฯ

In [ ]:
print(student_heights[0])
print(student_heights[1])
print(student_heights[2])
print(student_heights[3])
print(student_heights[4])

- และนี่คือความแปลกอย่างหนึ่งของการเขียนโปรแกรมคอมพิวเตอร์ครับ
  - ภาษาโปรแกรมส่วนใหญ่จะเริ่มนับตำแหน่งของสมาชิกจาก 0 เสมอ
  - มันมองว่าตำแหน่ง 0 แทนจุดเริ่มต้นของพื้นที่กระดาษทด
  - การระบุตำแหน่ง (index) ก็คือการเอาตำแหน่งจุดเริ่มต้นของกระดาษทด บวกกับตำแหน่ง index นั้นนั่นเองครับ

- หากเราระบุตำแหน่งเกินจากขนาดของลิสต์ คอมพิวเตอร์จะฟ้องออกมาด้วยคำว่า `IndexError` ซึ่งแปลว่าระบุค่าตำแหน่งเกินขนาดของลิสต์ เช่น

In [ ]:
print(student_heights[5])     # ทั้งๆ ที่ลิสต์ student_heights มีขนาดแค่ 5 ตัว

### แบบฝึกหัด 4.3

จงคำนวณผลรวมของสมาชิกทุกตัวของลิสต์ในตัวแปร `my_list` เพื่อหาค่าเฉลี่ยโดยใช้สูตร

$$ \mathrm{avg}(\mathbf{a}) = \frac{\sum_{i = 1}^N a_i}{N} $$

เมื่อค่า $ N $ คือจำนวนสมาชิกที่มีในลิสต์ $ \mathbf{a} $

In [ ]:
# คำนวณผลรวมของสมาชิกทุกตัวใน my_list
my_summation = my_list[0] + my_list[1] + my_list[2] + my_list[3] + my_list[4]    # เติมโค้ดที่นี่
my_average = my_summation / my_length
print(my_average)

In [ ]:
student_heights

### การเปลี่ยนแปลงสมาชิกภายในลิสต์

- เราสามารถเปลี่ยนแปลงสมาชิกภายในลิสต์ โดยการใช้เครื่องหมาย `=` เหมือนกับการกำหนดค่าในตัวแปร
- เช่น เราสามารถเปลี่ยนสมาชิกตัวที่ 2 ของลิสต์ `student_heights` จากค่า 150.0 ให้เป็นค่า 180.0 ได้

In [ ]:
import numpy as i

student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]
print("1: ", student_heights)

std_height_array = i.array(student_heights)
print("2: ", std_height_array)

a = i.cos(1.5)
print("3: ", a)

### แบบฝึกหัด 4.4

จงเพิ่มค่าให้สมาชิกทุกตัวของลิสต์ในตัวแปร `my_list` อย่างละ 5 ด้วยเครื่องหมาย `+` และพิมพ์ตัวแปร `my_list` ออกหน้าจอ

ได้ผลลัพธ์เป็น `[15, 25, 35, 45, 55]` หรือเปล่าครับ?

### การเลือกบางส่วนของลิสต์ (slicing)

- นอกจากเราจะสามารถเลือกสมาชิกบางตัวในลิสต์ได้แล้ว เรายังสามารถเลือกบางส่วนของลิสต์ได้ด้วย
- **คำสั่งเลือกบางส่วน (slicing):** `ลิสต์[` $a$ `:` $b$ `]` จะเลือกสมาชิกตั้งแต่ index ที่ $a$ จนถึง index ที่ $b - 1$
- เช่น ถ้าเราต้องการเลือกสมาชิกตั้งแต่ตัวที่ 2 จนถึงตัวที่ 4 ของลิสต์ในตัวแปร `student_heights` เราจะใช้คำสั่ง `student_heights[1:4]`

In [ ]:
student_heights

In [ ]:
student_heights[1:4]

- คำสั่งเลือกบางส่วนสามารถละจุดจบได้ด้วย `ลิสต์[` $a$ `:]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวที่ 2 เป็นต้นไปในลิสต์ `student_heights` ด้วยคำสั่ง `student_heights[1:]`

In [ ]:
student_heights[1:]

- คำสั่งเลือกบางส่วนสามารถละจุดตั้งต้นได้ด้วย `ลิสต์[:` $b$ `]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 4 ด้วยคำสั่ง `student_heights[:4]`

In [ ]:
student_heights[:4]

### แบบฝึกหัด 4.5

ในแบบฝึกหัดนี้ เรามีลิสต์ `my_list` ที่มีสมาชิก 10 ตัวดังนี้

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

1. จงเลือกสมาชิกตัวที่ 3 จนถึงตัวที่ 7

2. จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

3. จงเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 8

4. จงเลือกสมาชิกตั้งแต่ตัวที่ 4 เป็นต้นไป

----

## กิจกรรม 5: ข้อความ

- ในกิจกรรม 1 เราได้ทดลองพิมพ์ข้อความออกหน้าจอกันไปแล้ว
- จริงๆ แล้ว ข้อความ (string) ก็เป็นข้อมูลรูปแบบหนึ่งที่เราสามารถประมวลผลได้และทดไว้ในตัวแปรได้เช่นเดียวกันครับ
- เช่น เราสามารถเก็บข้อความ `'Hello'` ไว้ในตัวแปร `message` ได้

In [ ]:
message = 'Hello'
print(message)

### การต่อข้อความ

- เราสามารถนำข้อความ 2 อันมาต่อกันได้ด้วยเครื่องหมาย `+` ครับ
- เช่น เราจะต่อข้อความในตัวแปร `message1` และ `message2` เข้าด้วยกันได้ดังนี้

In [ ]:
message1 = 'Hello '
message2 = 'World!'
message = message1 + message2
print(message)

### การทำซ้ำข้อความ

- นอกจากนี้เรายังสามารถทำซ้ำข้อความได้ด้วยเครื่องหมาย `*`
- เช่น ถ้าเราต้องการทำซ้ำข้อความ `hello` 3 รอบ เราจะทำอย่างนี้ครับ

In [ ]:
3 * 'hello '

### แบบฝึกหัด 5.1

จงสร้างตัวแปร 2 ตัว

- `message1` เก็บข้อความ `'Hello '`
- `message2` เก็บข้อความ `'World '`

หลังจากนั้นให้ทำซ้ำ `message1` 3 ครั้ง และ `message2` 5 ครั้ง นำผลลัพธ์ทั้งสองอันมาต่อกัน แล้วนำมาเก็บในตัวแปร `message3`

In [ ]:
message1 = 'Hello '
message2 = 'World '
message3 = 3*message1 + 5*message2
print(message3)

### ข้อความในฐานะของลิสต์

- ในภาษา Python ข้อความคือลิสต์ของตัวอักษรครับ
- เราสามารถเข้าถึงตัวอักษรสมาชิกแต่ละตัวในข้อความได้

In [ ]:
message = 'hello'
print(message[0])
print(message[1])
print(message[2])
print(message[3])
print(message[4])

print(message)

message = 'olleh'


print(message)

- นอกจากนี้ เรายังสามารถเลือกบางส่วนของข้อความมาได้ด้วย เหมือนอย่างที่เราเลือกบางส่วนของลิสต์ครับ
- เช่น เราสามารถเลือกตั้งแต่ตัวอักษร index ที่ 1 จนถึง index ที่ 3 ได้ด้วยคำสั่งนี้

In [ ]:
message[1:4]

- แต่ทั้งนี้เราไม่สามารถแก้ไขสมาชิกในข้อความได้นะครับ

In [ ]:
message[1] = 'E'

### แบบฝึกหัด 5.2

1. จงทำซ้ำข้อความ `'prachya'` จำนวน 10 ครั้งแล้วเก็บไว้ในตัวแปร `my_string`

In [ ]:
my_string = 'Thanaruk '*10
print(my_string)

2. จงเลือกบางส่วนของข้อความ `my_string` เริ่มจากตัวที่ 10 จนถึงตัวที่ 30 แล้วเก็บลงในตัวแปร `my_string1`

In [ ]:
my_string1 = my_string[9:30]
print(my_string1)

3. จงเลือกบางส่วนของข้อความ `my_string` ตั้งแต่ตัวที่ 20 เป็นต้นไป แล้วเก็บลงในตัวแปร `my_string2`

In [ ]:
my_string2 = my_string[19:]
print(my_string2)

4. จงเลือกบางส่วนของข้อความ `my_string` ตั้งแต่ตัวแรกจนถึงตัวที่ 40  แล้วเก็บลงในตัวแปร `my_string3`

In [ ]:
my_string3 = __________
print(my_string3)

-----

## กิจกรรม 6: การวนซ้ำ

- สังเกตไหมครับว่า แบบฝึกหัดต่างๆ ในกิจกรรม 4 และ 5 ต้องใช้วิธี copy-paste แล้วแก้หมายเลขตำแหน่งของสมาชิกเอาทีละตำแหน่ง ถ้าเกิดลิสต์มีสมาชิกจำนวนมากขึ้นมา เราก็คงจะ copy-paste กันมือหงิกแน่นอน
- เราสามารถใช้วิธีการวนลูป (loop) เพื่อทำกระบวนการเดิมซ้ำๆ ได้ครับ

### ลูปฟอร์ (for-loop)

- ลูปฟอร์ (for-loop) ใช้สำหรับทำกระบวนการเดิมซ้ำๆ กับสมาชิกแต่ละตัวในลิสต์ <u>**ตามลำดับ**</u>
  - รูปแบบคำสั่งของลูปฟอร์คือ
```python
    for <ตัวแปร> in <ลิสต์> :
        <กระบวนการ>
```
  - คำสั่งนี้จะแทนสมาชิกแต่ละตัวในลิสต์ด้วยตัวแปรที่กำหนด แล้วจึงทำซ้ำกระบวนการนี้จนกว่าจะใช้สมาชิกครบทุกตัวตามลำดับครับ
  
- เช่น ถ้าเราต้องการพิมพ์สมาชิกแต่ละตัวในลิสต์ `student_heights` ออกมา เราจะสั่งคำสั่งดังนี้

In [ ]:
# สมาชิกแต่ละตัวของลิสต์ student_heights จะแทนด้วยตัวแปร height

import numpy as np

student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for height in student_heights:
    # พิมพ์ค่าของตัวแปร height ออกหน้าจอ
    print(height)
    
print('That is all.')

- สิ่งที่อยากให้สังเกตตรงนี้คือ กระบวนการที่เราต้องการทำซ้ำคือ `print(height)` จะต้องมีย่อหน้าถัดเข้าไป

### กฎการย่อหน้าของภาษาไพธอน

- กระบวนการที่เราต้องการทำซ้ำในลูปทุกชนิด จะต้องย่อหน้าถัดเข้าไปทางขวาเสมอ
- ขนาดของย่อหน้าที่นิยมกันคือ เคาะ spacebar 4 ครั้ง
- เมื่อไรก็ตามที่ย่อหน้ากลับออกมาทางซ้าย จะถือว่าจบลูปแล้ว

### แบบฝึกหัด 6.1

1. พิมพ์สมาชิกแต่ละตัวในลิสต์ `my_list` ออกหน้าจอโดยใช้ลูปฟอร์และคำสั่ง `print`

In [ ]:
my_list = ['hello', 'my', 'name', 'is', 'prachya']

# ลูปฟอร์
for item in my_list:
    # พิมพ์ค่าของตัวแปร height ออกหน้าจอ
    print(item)
    
print('That is all.')

2. เพิ่มค่าสมาชิกแต่ละตัวในลิสต์ `my_numbers` ตัวละ 10 และพิมพ์ออกหน้าจอ

In [ ]:
my_numbers = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# ลูปฟอร์
for number in my_numbers:
    print(number+10)

### ช่วงจำนวน (range)

- บางครั้งเราจำเป็นต้องวนลูปฟอร์บนเลขตำแหน่ง index ด้วย
- เราสามารถใช้คำสั่ง `range(` $a$ `,` $b$ `)` เพื่อสร้างช่วงจำนวนในลูปฟอร์ได้ โดย $a$ จะเป็นค่า index เริ่มต้นและ $b - 1$ จะเป็นค่าสุดท้ายครับ เช่น

In [ ]:
for i in range(11):
    print('i =', i)

- หากเราละค่า $a$ ไป เหลือเพียง `range(` $b$ `)` ช่วงจำนวนจะเริ่มต้นจาก 0 และสิ้นสุดที่ $b - 1$ ครับ

In [ ]:
for i in range(20):
    print('i =', i)

- นอกจากนี้เรายังสามารถกำหนดขนาดของก้าวในการสร้างช่วงจำนวนได้ โดยใช้คำสั่ง `range(` $a$ `,` $b$ `,` $c$ `)` เมื่อค่า $c$ คือขนาดของก้าว

In [ ]:
# ก้าวมีขนาดเท่ากับ 2
for i in range(0, 20, 3):
    print('i =', i)

- ข้อดีของการใช้คำสั่ง `range` ที่กำหนดขนาดของก้าวได้ ก็คือ เราสามารถไล่ index ย้อนหลังได้ด้วย เช่น

In [ ]:
# ก้าวมีขนาดติดลบ แปลว่าเดินถอยหลัง
for i in range(10, 0, -1):
    print(i)
    
# สังเกตว่าลูปฟอร์จะหยุดทำงานเมื่อค่า index i = 0 ทำให้ไม่พิมพ์ค่า 0 ออกมาทางหน้าจอ

### แบบฝึกหัด 6.2

1. จงวนลูปค่า index `i` จากค่า 1 ถึง 20 แล้วพิมพ์ค่าของ `2 * i` ออกมาทางหน้าจอ

In [ ]:
# วนลูปค่า index i จาก 1 ถึง 20
for i in range(1,21):
    # พิมพ์ค่า 2 * i ออกทางหน้าจอ
    print(2*i)

2. จงวนลูปค่า index `i` จากค่า 100 จนถึง 10 แล้วพิมพ์ค่า `i / 10` ออกมาทางหน้าจอ

In [ ]:
# วนลูปค่า index i จาก 100 จนถึง 10
for i in range(100,10,-10):
    # พิมพ์ค่า i / 10 ออกมาทางหน้าจอ
    print(i/10)

3. จงวนลูปค่า index `i` จากค่า 0 ถึง `len(student_heights) - 1` และแปลงหน่วยความสูงของนักเรียนแต่ละคนจากหน่วยเซนติเมตรเป็นหน่วยเมตร [คำใบ้: 100 เซนติเมตร = 1 เมตร]

In [ ]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    print(student_heights[i])

4. จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ $3 \times 1$ จนถึง $3 \times 12$ โดยจะได้ผลลัพธ์ดังนี้

```
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36
```

In [ ]:
# วนลูปค่า index i จาก 1 ถึง 12
for i in range(1,13):
    print('3 *' , i , ' = ', 3*i)

### ลูปซ้อนลูป (loop embedding)

- เราสามารถเขียนลูปซ้อนลูปได้ด้วย หากว่าโปรแกรมของเรามีความซับซ้อนกว่าลูปเดียว
- เช่น เราสามารถวนลูปเพื่อไล่สูตรคูณแม่ 3 ถึงแม่ 5 ได้ดังนี้ครับ

In [ ]:
# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 3 ถึงแม่ 5
for m in range(3, 6):
    print('Multiplication of', m)
    # วนลูป index i เพื่อไล่ตัวคูณจาก 1 ถึง 12
    for i in range(1, 13):
        print(m, '*', i, '=', m * i)
    # พิมพ์บรรทัดใหม่คั่นระหว่างแม่
    print()

- ข้อสังเกตจากการวนลูปฟอร์ในการไล่แม่สูตรคูณก็คือ
  1. ในลูปนอก เราจะวนลูป index ของแม่สูตรคูณก่อน เช่น แม่ 3 ถึงแม่ 5 เป็นต้น
  2. ส่วนลูปข้างใน เราจะวนลูป index ของตัวคูณในแต่ละแม่ คือตั้งแต่ 1 ถึง 12
- นั่นแสดงว่า ถ้าเราจะเขียนโปรแกรมที่สลับซับซ้อนได้ เราจะต้องแยกแยะและถอดลูปออกเป็นชั้นนอกและชั้นในให้ออกครับ

### แบบฝึกหัด 6.3

1. จงเขียนโปรแกรมเพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15 โดยแต่ละแม่จะคูณกับตัวเลขตั้งแต่ 1 จนถึง 12

In [ ]:
# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15
for m in range(11, 16):
    print('Multiplication of', m)
    # วนลูป index i เพื่อไล่ตัวคูณจาก 1 ถึง 12
    for i in range(1, 13):
        print(m, '*', i, '=', m * i)
    # พิมพ์บรรทัดใหม่คั่นระหว่างแม่
    print()

2. จงเขียนโปรแกรมเพื่อแสดงจัตุรัสตัวเลข 1 ถึง 9 โดยใช้ลูปซ้อนกัน 2 ลูป ซึ่งผลลัพธ์จะเป็นดังต่อไปนี้

```
1 2 3
4 5 6
7 8 9
```

In [ ]:
# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15
for m in range(3):
    for i in range(1,4):
        print(m*3+i, end=' ')
    print()

print()

# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15
a=1
for m in range(3):
    for i in range(1,4):
        print(a, end=' ')
        a = a+1
    print()


print()

for m in range(3):
    print(3*m+1, 3*m+2, 3*m+3)

3. จงเขียนโปรแกรมเพื่อแสดงจัตุรัสตัวเลข 1 ถึง 27 โดยใช้ลูปซ้อนกัน 3 ลูป ซึ่งผลลัพธ์จะเป็นดังนี้

```
1 2 3
4 5 6
7 8 9

10 11 12
13 14 15
16 17 18

19 20 21
22 23 24
25 26 27
```

   **หมายเหตุ:** เราสามารถระบุให้คำสั่ง `print` ไม่ต้องขึ้นบรรทัดใหม่หลังจากพิมพ์ค่าออกหน้าจอได้ด้วยการระบุ `end=''` ไว้ในวงเล็บของ `print` ครับ

-----

## กิจกรรม 7: การกำหนดเงื่อนไข

- กิจกรรมสุดท้ายสำหรับวันนี้คือการกำหนดเงื่อนไขครับ
- การกำหนดเงื่อนไข (branching) ในภาษาไพธอนจะใช้คำสั่ง `if` (แปลว่า 'ถ้า') ครับ โดยจะมีรูปแบบดังนี้

```python
if <เงื่อนไข>:
    <กระบวนการ>
```

- คอมพิวเตอร์จะทำกระบวนการที่อยู่ในด้านใน ถ้าหากว่าเงื่อนไขที่กำหนดนี้เป็นจริง
- จะสังเกตว่ากระบวนการนี้จะต้องย่อหน้าเหมือนกับคำสั่งลูป `for` เลย
  - นั่นเป็นเพราะว่าการเว้นวรรคย่อหน้าจะเป็นการบอกสโคป (scope) ของคำสั่ง ว่าเป็นกระบวนการที่อยู่ภายใต้คำสั่งที่อยู่ด้านนอก
  - การวนลูปก็จะวนภายใน scope ของตัวเอง
  - การกำหนดเงื่อนไขก็จะทำงานเฉพาะภายใน scope ของตัวเองเท่านั้นครับ
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท

In [ ]:
salary = 15000

if salary > 10000:
    print('Hurray!')

- ทดลองเปลี่ยนค่าตัวเลขของตัวแปร `salary` แล้วรันใหม่ดูนะครับ

### รูปแบบของเงื่อนไข

- เราสามารถใช้เครื่องหมายเปรียบเทียบทางคณิตศาสตร์ได้เหมือนในวิชาคณิตศาสตร์ครับ

| เครื่องหมาย | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|    `<`    |  น้อยกว่า  |           `3 < 5`          |
|    `>`    |  มากกว่า  |           `5 > 3`          |
|    `==`   |  เท่ากับ   | `my_salary == your_salary` |
|    `!=`   |  ไม่เท่ากับ | `my_salary != your_salary` |
|    `>=`   |  มากกว่าหรือเท่ากับ   | `my_salary >= your_salary` |
|    `<=`   |  น้อยกว่าหรือเท่ากับ   | `my_salary <= your_salary` |

- ถ้าเราลองพิมพ์ค่าความจริงของเงื่อนไขออกมา เราจะได้เป็นค่า `True` หรือ `False` ซึ่งค่าความจริงก็เป็นข้อมูลประเภทหนึ่งเหมือนกัน เรียกว่า *ค่าตรรกะ* (boolean) ครับ เช่น

In [ ]:
print(0.5 > 0.3)        # True
print(0.25 < -1.0)      # False
print(1.25 == 1.25)     # True
print(1.30 != -0.78)    # True

- ทั้งนี้เราสามารถใช้เครื่องหมายเปรียบสามารถใช้ได้กับข้อความได้ด้วยนะครับ เช่น

In [ ]:
print('hello' == 'hello')       # True
print('hello' != 'world')       # True
print('hello' > 'alphabet')     # False -- คอมพิวเตอร์เรียงลำดับข้อความตามตัวอักษร

- นอกจากนี้เรายังสามารถใช้ตัวเชื่อมทางตรรกศาสตร์ได้ด้วยครับ

| ตัวเชื่อม    | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|   `and`   |    และ   |     `a == b and x == y`    |
|    `or`   |    หรือ   |     `a != b or c != d`     |
|   `not`   |    ไม่    |    `not (a > b)`    |
|   `( )`   |   วงเล็บ  | `(a == b) and not (c > d)` |

In [ ]:
v1 = 100
v2 = 200
v3 = 300

print(v1 == v2 and v2 == v3)                       # False and False = False
print(v1 + v2 == v3 or v2 + v3 == v1)              # True or False = True
print(not(v1 == v2 and v2 == v3) or v1 == v2)      # not(False and False) or False = True

### แบบฝึกหัด 7.1

1. จงตั้งเงื่อนไขเพื่อให้คอมพิวเตอร์พิมพ์ข้อความว่า `'You are tall.'` ถ้าหากว่าความสูงในตัวแปร `my_height` มากกว่า 170

In [ ]:
my_height = 165

if my_height > 170:
    print('You are tall.')
else:
    print('You are short.')

2. จงตั้งเงื่อนไขเพื่อให้คอมพิวเตอร์พิมพ์ข้อความว่า `'You are weathy and tall.'` ถ้าหากว่าเงินเดือนในตัวแปร `my_salary` มากกว่า 10000 และความสูงในตัวแปร `my_height` มากกว่า 170

In [ ]:
my_salary = 15000
my_height = 175

if __________ :
    print('You are wealthy and tall.')

3. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ความสูงของนักเรียนแต่ละคน โดยจะพิมพ์ออกมาเฉพาะคนที่มีความสูงมากกว่า 160 เซนติเมตรเท่านั้น [หมายเหตุ: จะสังเกตว่าโจทย์ข้อนี้จะใช้ทั้งลูปฟอร์และการตั้งเงื่อนไขประกอบกันได้ด้วย]

In [ ]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for height in student_heights:
    if __________ :
        print(height)

4. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if __________ :
        print(student_names[i], ':', student_heights[i])

### การรับข้อมูลผ่านคีย์บอร์ด

- เราสามารถรับอินพุตจากคีย์บอร์ดได้ด้วยคำสั่ง `input` ครับ แต่เวลาสั่งคำสั่งนี้แล้ว จะต้องหาตัวแปรมาเก็บค่าอินพุตที่รับมาด้วยเสมอ

In [ ]:
my_name = input('Enter your name: ')      # ใส่ข้อความเตือนผู้ใช้ที่ตรงนี้
print('Hello,', my_name)

- ค่าที่รับมาได้จะอยู่ในรูปข้อความ (string) เสมอ
- หากเราต้องการรับค่าตัวเลข เราจำเป็นต้องแปลงข้อความกลับมาเป็นตัวเลขด้วยคำสั่ง `int` และ `float` ตามลำดับครับ
  - คำสั่ง `int` จะแปลงข้อความเป็นจำนวนเต็ม เช่น 10, 20, 30
  - คำสั่ง `float` จะแปลงข้อความเป็นจำนวนจริง เช่น 0.25, 3.5, 10.0

In [ ]:
my_salary_str = input('Enter your salary: ')
my_salary = int(my_salary_str)           # ต้องแปลงข้อความให้เป็นจำนวนเต็มก่อน ถึงจะเปรียบเทียบได้
if my_salary > 10000:
    print('Your salary is quite high.')

- ลองรันโปรแกรมด้านบนใหม่อีกรอบ แต่คราวนี้ใส่เป็นข้อความที่ไม่ใช่จำนวนเต็มดูบ้างครับ เช่น `'Prachya'` หรือ `100.5` โปรแกรมจะระเบิดทันที
- ที่คอมพิวเตอร์ฟ้องว่า `ValueError` นั้นหมายความว่า คอมพิวเตอร์ไม่สามารถแปลงข้อความให้กลายเป็นตัวเลขได้นั่นเองครับ

### การกำหนดเงื่อนไขที่มี 2 ทางเลือก

- ในกรณีที่เราต้องการกำหนดเงื่อนไขที่มี 2 ทางเลือก เราสามารถใช้คำสั่ง `if ... else ...` (else แปลว่า 'ไม่เช่นนั้น') ได้ครับ
- รูปแบบของเงื่อนไขที่มี 2 ทางเลือก

```python
if <เงื่อนไข> :
    <กระบวนการ 1>
else:
    <กระบวนการ 2>
```

- ความหมายของคำสั่งนี้คือ ถ้าเงื่อนไขนี้เป็นจริง ก็ให้ทำกระบวนการที่ 1 ไม่เช่นนั้นก็ให้ทำกระบวนการที่ 2 แทน
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท หรือไม่เช่นนั้นก็พิมพ์ข้อความว่า `'Poor you.'` แทน

In [ ]:
salary = 5000

if salary > 10000:
    print('Hurray!')
else:
    print('Poor you.')

### แบบฝึกหัด 7.2

จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่นที่<u>**ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น ไม่เช่นนั้นก็ให้พิมพ์เฉพาะชื่อนักเรียนออกมาเท่านั้น

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if __________ :
        print(student_names[i], ':', student_heights[i])
    else:
        print(student_names[i])

### การกำหนดเงื่อนไขแบบซับซ้อน

- นอกจากนี้ หากเงื่อนไขของโปรแกรมมีความสลับซับซ้อน เช่น การตัดเกรดของนักเรียนที่ต้องทำแบ่งเป็นช่วงชั้น เราสามารถใช้การกำหนดเงื่อนไขแบบซับซ้อน `if ... elif ... else ...` ได้ครับ (`elif` ย่อมาจากคำว่า 'else if' แปลว่า 'ไม่เช่นนั้น ถ้าหาก')
- รูปแบบของการกำหนดเงื่อนไขแบบซับซ้อน

```python
if <เงื่อนไข 1> :
    <กระบวนการ 1>
elif <เงื่อนไข 2> :
    <กระบวนการ 2>
elif <เงื่อนไข 3> :
    <กระบวนการ 3>
    :
    :
    :
else:
    <กระบวนการสุดท้าย>
```

- ความหมายของคำสั่งนี้คือ 
  1. ถ้าเงื่อนไข 1 นี้เป็นจริง ก็ให้ทำกระบวนการที่ 1
  2. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 2 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 2
  3. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 3 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 3
  4. เราจะเช็คเงื่อนไขแบบนี้ไปเรื่อยๆ จนกระทั่งไม่เข้าเงื่อนไขใดเลย จึงทำกระบวนการสุดท้าย

- เช่น ถ้าเราจะกำหนดเงื่อนไขเพื่อตัดเกรดของนักเรียน จากคะแนนเต็ม 100 คะแนน
  1. ถ้าได้คะแนน 80 ขึ้นไป จะได้เกรด 4
  2. ไม่เช่นนั้น ถ้าได้คะแนน 70 ขึ้นไป จะได้เกรด 3
  3. ไม่เช่นนั้น ถ้าได้คะแนน 60 ขึ้นไป จะได้เกรด 2
  4. ไม่เช่นนั้น ถ้าได้คะแนน 50 ขึ้นไป จะได้เกรด 1
  5. ไม่เช่นนั้น จะได้เกรด 0

In [ ]:
score = int(input('Enter your score: '))

if score >= 80:           # score >= 80
    grade = 4
elif score >= 70:         # 70 <= score <= 79
    grade = 3
elif score >= 60:         # 60 <= score <= 69
    grade = 2
elif score >= 50:         # 50 <= score <= 59
    grade = 1
else:                     # score < 50
    grade = 0

print('Your grade =', grade)

### คำสั่งออกจากลูป (break) และคำสั่งกระโดดไปสมาชิกตัวถัดไป (continue)

- เราสามารถออกจากลูปได้ด้วยคำสั่ง `break` ครับ
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์ชื่อนักเรียนและความสูงตามลิสต์ด้านล่างออกมา จนกว่าความสูงจะมากกว่า 165 เซนติเมตรจึงจะหยุด ได้ด้วยคำสั่ง `break`

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i])
    # ถ้าความสูงของนักเรียนคนนั้น > 165 เซนติเมตร ให้ออกจากลูป
    if student_heights[i] > 165.0:
        break
        
print('That is all.')

- ส่วนคำสั่ง `continue` จะสั่งให้คอมพิวเตอร์เลิกทำกระบวนการที่กำลังทำกับสมาชิกตัวปัจจุบัน แล้วกระโดดไปสมาชิกตัวถัดไปทันทีครับ
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์รายชื่อนักเรียนและความสูง แต่หากนักเรียนคนใดที่มีชื่อขึ้นต้นด้วยตัว `'A'` หรือตัว `'C'` ก็จะไม่ต้องพิมพ์ต่อท้ายว่า `blacklisted` ได้ดังนี้

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i], end='')
    # ถ้าชื่อนักเรียนขึ้นต้นด้วยตัว A หรือตัว C ให้ตัดจบ แล้วไปสมาชิกตัวถัดไปทันที
    if student_names[i][0] == 'A' or student_names[i][0] == 'C':
        print()
        continue
    print(' --> blacklisted')

### แบบฝึกหัด 7.3

จงเขียนโปรแกรมเพื่อแสดงรายการนักเรียนที่ได้เกรดตำกว่า 4 ถ้านักเรียนคนใดได้เกรดต่ำกว่า 3 ให้พิมพ์ข้อความเตือน `'warning'` ที่หลังเกรด และให้โปรแกรมหยุดการทำงานเมื่อพบนักเรียนที่ได้เกรดตำกว่า 2

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_scores = [86, 78, 54, 65, 34]

for i in range(len(student_names)):
    grade = 0
    
    # คำนวณเกรดของนักเรียน เก็บใส่ตัวแปร grade ไว้
    ________________
    
    # ถ้าพบว่านักเรียนได้เกรด 4 ให้กระโดดข้ามไปนักเรียนคนถัดไป โดยใช้คำสั่ง continue
    ________________
    
    # พิมพ์ชื่อนักเรียนและเกรด โดยที่ยังไม่ต้องขึ้นบรรทัดใหม่
    print(student_names[i], ':', grade, end='')
    
    # ถ้าพบนักเรียนคนใดได้เกรดตำกว่า 3 ให้พิมพ์ข้อความเตือนว่า 'warning' และขึ้นบรรทัดใหม่
    ________________
    
    # หากพบนักเรียนที่ได้เกรดต่ำกว่า 2 ให้ออกจากลูปทันที โดยใช้คำสั่ง break
    ________________

---------

## กิจกรรม 8: โจทย์เสริมทักษะ

1. จงเขียนโปรแกรมเพื่อรับจำนวน $ n $ และพิมพ์พิระมิดชิดซ้ายที่มีขนาดเท่ากับ $ n $ เช่น

```
Enter the size of the left-angle pyramid (n): 5
*
**
***
****
*****
```

2. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์พิระมิดที่มีความสูงเท่ากับ $ h $ เช่น

```
Enter the height of the pyramid (h): 5
    *
   ***
  *****
 *******
*********
```

3. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์รูปข้าวหลามตัดที่มีความสูงเท่ากับ $ 2h - 1 $ เช่น

```
Enter the height of club (h): 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

4. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์รูปข้าวหลามตัดกลวงที่มีความสูงเท่ากับ $ 2h - 1 $ เช่น

```
Enter the height of hollow club (h): 5
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *
```

#แนะนำไพทอน เพิ่มเติม

In [ ]:
help(len)

#การสร้างฟังก์ชั่น

In [ ]:
# square a number
def square(x):
  return x ** 2
for N in range(1, 4):
  print(N, "squared is", square(N))

#การใช้ไลบรารี่ math

In [ ]:
import math

print("SIN(2) = ", math.sin(2))
print("COS(2) = ",math.cos(2))

#การรับอินพุตและการทำงานของฟังก์ชัน

In [ ]:
width   = input("ขนาดของความกว้างของสี่เหลี่ยม : ")
height  = input("ขนาดของความยาวของสี่เหลี่ยม  : ")
fwidth  = float(width)
fheight = float(height)
farea    = float(width)*float(height)
print("พื้นที่ของสี่เหลี่ยม (%10.2f x %10.2f) = %10.2f" % (fwidth, fheight, farea))

\\
\\
\\
#<font color= blue> **บทนำ 22-23 ธันวาคม 2561**</font>

- สำหรับวันนี้ เราจะมาหัดเขียนโปรแกรมภาษา Python สำหรับการสร้างโมเดลเพื่อการพยาการณ์ข้อมูลเบื้องต้น

- เนื้อหา
  9. Numpy
  10. Pandas
  11. MatPlotLib
  12. Data Visualization
  13. การสร้างโมเดลเพื่อใช้ทำนายข้อมูล
  14. Image Recognition...........รอพี่เอสใส่รายละเอียดเพิ่ม

## **กิจกรรมที่ 9: **Numpy



Python Library คณิตศาสตร์ที่สำคัญสำหรับ Deep Learning  Library นี้มีชื่อว่า Numpy สามารถประยุกต์ใช้ Python ในงานคำนวณต่างๆ ทั้งด้านวิทยาศาสตร์ วิศวกรรมศาสตร์ สถิติ ธุรกิจ กราฟฟิก ฯลฯ อีกด้วย

Numpy มีรูปแบบคล้าย MATLAB โดยเน้นการทำงานของ Array เช่น เวกเตอร์ (1 มิติ) เมตริกซ์ (2 มิติ) เทนเซอร์ ( 3 มิติขึ้นไป) เป็นต้นและ operations า ดังที่อธิบายละเอียดในตัวอย่าง

ref : https://www.kaggle.com/ratthachat/python-numpy-deep-learning

##การคำนวณของอาเรย์ NumPy Arrays



*   เราสามารถนำอาเรย์มาคำนวณ บวก ลบ คูณ หาร ได้เหมือนการคำนวณเมทริกซ์
*   ก่อนจะเรียกใช้คำสั่ง NumPy เราจะต้องทำการ "import numpy as np" ก่อนเสมอ

In [ ]:
import numpy as np



*   ต่อมาเราจะลองสร้าง อาเรย์ 1 มิติ , 2  มิติ, และ 3 มิติ

*   และหาคุณสมบัติต่างๆของอาเรย์ เช่น Dimension, Shape, และ Size

**อาเรย์ 1 มิติ**

In [ ]:
import numpy as np

ar1 = np.array([[1,1,0],[3,4,5]])  

print(ar1)

ar2 = ar1+np.array([[1], [10]])
print(ar2)

In [ ]:
#Array 1
print("ar1 Dimension: ",ar1.ndim)
print("ar1 Shape: ",ar1.shape)          # shape เป็น method ที่ไว้เรียกดูขนาดของ array 
print("ar1 Size: ",ar1.size)
print("ar1 Data Type: ",ar1.dtype)

**อาเรย์ 2 มิติ**

In [ ]:
ar2 = np.array([[2,-2,4,2],[2,-4,8,-0.2]])

print(ar2)

In [ ]:
#Array 2
print("ar2 Dimension: ",ar2.ndim)
print("ar2 Shape: ",ar2.shape)
print("ar2 Size: ",ar2.size)
print("ar2 Data Type: ",ar2.dtype)

**อาเรย์ 3 มิติ**

In [ ]:
a1 = np.zeros([3,2])
print(a1)

In [ ]:

a1 = np.ones([3,4])*2
print("a1\n",a1,"\n")


a2 = np.ones([3,4])*3
print("a2\n",a2,"\n")

ar3 = np.stack((a1,a2))
#ar3 = np.array([[3,1,3,0,3],[3,2,6,3,3],[3,4,8,2,2.5]])

print("ar3 \n", ar3)

In [ ]:
#Array 3
print("ar3 Dimension: ",ar3.ndim)
print("ar3 Shape: ",ar3.shape)
print("ar3 Size: ",ar3.size)
print("ar3 Data Type: ",ar3.dtype)

ref : https://phyblas.hinaboshi.com/numa23

## **การสร้าง Array รูปแบบพิเศษต่าง ๆ**

In [ ]:
import numpy as np

a = np.zeros((2,2))   # Create an array of all zeros
print("\n a \n",a)              # Prints "[[ 0.  0.]
                      #          [ 0.  0.]]"

b = np.ones((1,2))    # Create an array of all ones
print("\n b \n",b)              # Prints "[[ 1.  1.]]"

c = np.full((2,2), 7)  # Create a constant array
print("\n c \n",c)               # Prints "[[ 7.  7.]
                       #          [ 7.  7.]]"

d = np.eye(2)         # Create a 2x2 identity matrix
print("\n d \n",d)              # Prints "[[ 1.  0.]
                      #          [ 0.  1.]]"

e = np.random.random((2,2))  # Create an array filled with random values
print("\n e \n",e)                     # Might print "[[ 0.91940167  0.08143941]
                             #               [ 0.68744134  0.87236687]]"

### **การเข้าถึงข้อมูลในอาร์เรย์ (Array Indexing)**
Numpy offers several ways to index into arrays.

Slicing: Similar to Python lists, numpy arrays can be sliced. Since arrays may be multidimensional, you must specify a slice for each dimension of the array:

In [ ]:
import numpy as np

# Create the following rank 2 array with shape (3, 4)
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print('a = ',a)
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
print('b = ',b)

# A slice of an array is a view into the same data, so modifying it
# will modify the original array.
print(a[0, 1])   # Prints "2"
b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])   # Prints "77"

การประยุกต์
ref::  https://phyblas.hinaboshi.com/numa19

In [ ]:

z = np.array([0,1,2,3,4,5])
print(z)

In [ ]:
print(z>3) # ได้ [False False False False  True  True]
print(z%2==1) # ได้ [False  True False  True False  True]
print(z[z>3]) # ได้ [4 5]
print(z[z%2==1]) # ได้ [1 3 5]

## ** การกำหนดประเภทของข้อมูล (Datatypes)**
Every numpy array is a grid of elements of the same type. Numpy provides a large set of numeric datatypes that you can use to construct arrays. Numpy tries to guess a datatype when you create an array, but functions that construct arrays usually also include an optional argument to explicitly specify the datatype. Here is an example:

In [ ]:
import numpy as np

x = np.array([1, 2])   # Let numpy choose the datatype
print(x.dtype)         # Prints "int64"

x = np.array([1.0, 2.0])   # Let numpy choose the datatype
print(x.dtype)             # Prints "float64"

x = np.array([1, 2], dtype=np.int64)   # Force a particular datatype
print(x.dtype)                         # Prints "int64"

| Data type	    | Description |
|---------------|-------------|
| ``bool_``     | Boolean (True or False) stored as a byte |
| ``int_``      | Default integer type (same as C ``long``; normally either ``int64`` or ``int32``)| 
| ``intc``      | Identical to C ``int`` (normally ``int32`` or ``int64``)| 
| ``intp``      | Integer used for indexing (same as C ``ssize_t``; normally either ``int32`` or ``int64``)| 
| ``int8``      | Byte (-128 to 127)| 
| ``int16``     | Integer (-32768 to 32767)|
| ``int32``     | Integer (-2147483648 to 2147483647)|
| ``int64``     | Integer (-9223372036854775808 to 9223372036854775807)| 
| ``uint8``     | Unsigned integer (0 to 255)| 
| ``uint16``    | Unsigned integer (0 to 65535)| 
| ``uint32``    | Unsigned integer (0 to 4294967295)| 
| ``uint64``    | Unsigned integer (0 to 18446744073709551615)| 
| ``float_``    | Shorthand for ``float64``.| 
| ``float16``   | Half precision float: sign bit, 5 bits exponent, 10 bits mantissa| 
| ``float32``   | Single precision float: sign bit, 8 bits exponent, 23 bits mantissa| 
| ``float64``   | Double precision float: sign bit, 11 bits exponent, 52 bits mantissa| 
| ``complex_``  | Shorthand for ``complex128``.| 
| ``complex64`` | Complex number, represented by two 32-bit floats| 
| ``complex128``| Complex number, represented by two 64-bit floats|

## **การคำนวณทางคณิตศาสตร์ (Array math)**
Basic mathematical functions operate elementwise on arrays, and are available both as operator overloads and as functions in the numpy module:

In [ ]:
import numpy as np

x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

print("x\n",x)
print("y \n",y)

# Elementwise sum; both produce the array
# [[ 6.0  8.0]
#  [10.0 12.0]]
print("x+y \n", x + y)
print("np.add(x, y) \n", np.add(x, y))

# Elementwise difference; both produce the array
# [[-4.0 -4.0]
#  [-4.0 -4.0]]
print("x - y\n",x - y)
print("np.subtract(x, y) \n",np.subtract(x, y))

# Elementwise product; both produce the array
# [[ 5.0 12.0]
#  [21.0 32.0]]
print("x * y \n",x * y)
print("np.multiply(x, y) \n ",np.multiply(x, y))

# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print("x / y \n",x / y)
print("np.divide(x, y)\n",np.divide(x, y))

# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
print("np.sqrt(x)\n",np.sqrt(x))

## **การหาผลรวม โดยการกำหนดรูปแบบในการคำนวณ **

Numpy provides many useful functions for performing computations on arrays; one of the most useful is sum:

In [ ]:
import numpy as np

x = np.array([[1,2],[3,4]])
print("x \n",x)

print("\n np.sum(x) \n ",np.sum(x))  # Compute sum of all elements; prints "10"
print("\n np.sum(x, axis=0) \n",np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print("\n np.sum(x, axis=1) \n",np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

## **Transpose**

Apart from computing mathematical functions using arrays, we frequently need to reshape or otherwise manipulate data in arrays. The simplest example of this type of operation is transposing a matrix; to transpose a matrix, simply use the T attribute of an array object:

In [ ]:
import numpy as np

x = np.array([[1,2], [3,4]])
print(x)    # Prints "[[1 2]
            #          [3 4]]"
print(x.T)  # Prints "[[1 3]
            #          [2 4]]"

# Note that taking the transpose of a rank 1 array does nothing:
v = np.array([1,2,3])
print(v)    # Prints "[1 2 3]"
print(v.T)  # Prints "[1 2 3]"

## **Mean, Max, and Min**

In [ ]:
import numpy as np
arr2 = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
# mean, max and min
print("Mean value is: ", arr2.mean())
print("Max value is: ", arr2.max())
print("Min value is: ", arr2.min())

#> Mean value is:  6.5
#> Max value is:  12
#> Min value is:  1

โจทย์ Numpy เกี่ยวกับการใช้ฟังชั่น

#กิจกรรมที่ 10 Data Frame
Data Manipulation with Pandas

ref: https://www.growthbee.com/cheatsheet-pandas/

เรามาพิจารณาความแตกต่างของผลลัพธ์การใช้งาน Library ระหว่าง Numpy กับ Pandas

In [ ]:
# First, import pandas,numpy 

import numpy as np
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd

data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])

print('Numpy: ')
print(data)
print( )
print( )
print('DataFrame: ')              
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

In [ ]:
import numpy as np
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
print('Show data=',data)
print(data.values)
print(data.index)

##วิธีสร้าง DataFrame อย่างง่าย

In [ ]:
import numpy as np
import pandas as pd
array = np.array([('F',35,3000,300), ('M',15,6000,320),('M',16,7000,800)])
df = pd.DataFrame(array,columns=['Gender','Age','Salary','OT'])
print(df)

##การเลือกแค่ 1 Column

In [ ]:
df['Gender']

##ต้องการเลือกหลายคอลัมน์

In [ ]:
df[['Gender','Age']]

##วิธีแปลงประเภทข้อมูล (Data Type) ใน Data Frame

In [ ]:
df['Age'] = pd.to_numeric(df['Age']) # แปลงเป็น Numeric
df['Salary'] = df['Salary'].astype('int') # การแปลงค่า เป็น integer
df['OT'] = df['OT'].astype('float') # การแปลงค่า เป็น float

print(df)

##วิธีเลือกแถวตามเงื่อนไขที่ต้องการ

In [ ]:
df[df['Gender']=='M']

In [ ]:
df[(df['Gender']=='M') | \
   (df['Salary']>6500)]

In [ ]:
df[df['Age']>16] # เงื่อนไขแบบง่าย ๆ

##การเพิ่มคอมลัมภ์ใหม่

In [ ]:
df['TotalIncome'] = df['Salary']+df['OT']
print(df)

##วิธีเช็ค Summary ของแต่ละคอลัมน์ (count, min, max, mean)

In [ ]:
df.describe()

##วิธีเช็ค Summary (count, min, max, mean) แบบแยกกลุ่ม

In [ ]:
test = df.groupby(['Gender'])
test.describe()

## การนำเข้าข้อมูล CSV

*  ให้ทำการ import ข้อมูลราคาขายบ้าน จาก path sample_data/california_housing_train.csv

In [ ]:
import pandas as pd 
dfcsv = pd.read_csv("sample_data/california_housing_train.csv") 
print (dfcsv.shape)

# ดูลักษณะของข้อมูล
#df.describe()
dfcsv.head()
dfcsv.tail()

In [ ]:
# ทำการดูข้อมูล 10 บรรทัดแรก
dfcsv.head(10)

In [ ]:
dfcsv =

##การจัดเรียงข้อมูล

In [ ]:
dfcsv = dfcsv.sort_values(by='housing_median_age', ascending=True)
print(dfcsv)

#print (dfcsv.head(10))

##แบบฝึกหัด 9.1 จงหาผลรวม ระหว่าง total_rooms กับ total_bedrooms

In [ ]:
dfcsv['Total'] = dfcsv['____']+dfcsv['_____']
print(dfcsv)

##แบบฝึกหัด 9.2 จงดึงข้อมูล total_rooms ที่มี >7000

In [ ]:
dfcsv[dfcsv['________']>_________]

##แบบฝึกหัด 9.3 จงเช็ค summary ข้อมูล แบบแยกกลุ่มตาม housing_median_age

In [ ]:
test = dfcsv.groupby(['population'])
test.describe()

# **กิจกรรมที่ 11: **  MatPlotLib

matplotlib นั้นมีหลายชนิดด้วยกัน เช่นกราฟเส้นธรรมดา, แผนภูมิแท่ง, แผนภูมิวงกลม, การกระจาย ฟังก์ชันที่ใช้วาดกราฟเส้นธรรมดาก็คือฟังก์ชันที่ชื่อว่า plot อาร์กิวเมนต์ที่ต้องใส่ในฟังก์ชันนี้คือพิกัดในแนวแกน x และ y ตามลำดับ โดยข้อมูลที่ใส่ต้องเป็นออบเจ็กต์ชนิดลำดับ เช่น ลิสต์, ทูเพิล, เรนต์ และสามารถใช้อาเรย์ของ numpy ได้ด้วย

การวาดกราฟด้วย matplotlib นั้นเราสามารถปรับแต่งอะไรได้มากมายหลากหลายตามต้องการ เช่นสีเส้น, รูปแบบเส้น, ขอบเขตกราฟ, ชื่อแกน, คำอธิบายเพิ่มเติม, ฯลฯ

ref::  https://phyblas.hinaboshi.com/numa05

In [ ]:
import matplotlib.pyplot as plt   #  plt แทน pyplot ซึ่งมอดูลย่อยของ matplotlib

In [ ]:
 # กำหนดค่าของ x และ y ที่จะใช้
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y = [0.0, 0.84, 0.91, 0.14, -0.76, -0.96, -0.28, 0.66, 0.99, 0.41, -0.54]
# เริ่มวาดกราฟ
plt.plot(x,y) # คำสั่งวาดกราฟ
plt.show() # คำสั่งให้แสดง

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('classic')

x = np.linspace(0, 2*np.pi, 2000)
plt.plot(x, np.cos(x),'--')
plt.plot(x, (1/2)*np.sin(x),'.')
plt.plot(x, np.sin(100*x))
plt.show()

In [ ]:
fig = plt.figure()

x = np.linspace(0, 2*np.pi, 200)
plt.plot(x, np.sin(x), '-')
plt.plot(x, np.cos(x), '--');

x2 = np.linspace(0, 2*np.pi, 100)

plt.plot(x2, np.sin(2*x2), 'x', color='black');

fig.savefig('my_figure.png')

In [ ]:
fig.canvas.get_supported_filetypes()

In [ ]:
plt.style.use('seaborn-whitegrid')
fig2 = plt.figure() # create a plot figure

# create the first of two panels and set current axis
plt.subplot(2, 2, 1) # (rows, columns, panel number)
plt.plot(x, np.sin(x),color='r')

# create the second panel and set current axis
plt.subplot(2, 2, 2)
plt.plot(x, np.cos(x),color='#8830A4');

# create the first of two panels and set current axis
plt.subplot(2, 2, 3) # (rows, columns, panel number)
plt.plot(x, np.sin(2*x))

# create the second panel and set current axis
plt.subplot(2, 2, 4)
plt.plot(x, np.cos(2*x));

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

fig = plt.figure()
ax = plt.axes()

In [ ]:
x = np.linspace(0, 10, 30)
y = np.sin(x)
plt.plot(x, y, 'o', color='black');

# **กิจกรรมที่ 12: ** Data Visualization

IRIS IMAGE

[Image URL](https://www.img.in.th/image/BK5q9c)

IRIS คือ ดอกไม้ชนิดหนึ่งที่นิยมปลูกทั่วโลกโดยมี 3 สายพันธ์(Class) คือ

Iris-virginica
Iris-setosa
Iris-versicolor
ซึ่งแต่ละสายพันธ์จะมีคุณลักษณะ(Feature)ของดอกที่แตกต่างกันคือ

ความกว้างของกลีบเลี้ยง (sepal width)
ความกว้างของกลีบดอก (petal width)
ความยาวของกลีบเลี้ยง (sepal length)
ความยาวของกลีบดอก (petal length)
ซึ่งเราสามาถตรวจสายพันธ์(Classification) โดยอาศัยข้อมูลคุณลักษณะ(Feature)

โดยข้อมูลต่างๆของดอก IRIS สามารถเข้าไป Download ได้

##การนำข้อมูลเข้า Colab

11.1 ให้ทุกคนเข้าไปที่เว็ปไซต์ IRIS UCI แล้วทำการ Download ไฟล์ชื่อ iris.data

ที่ https://archive.ics.uci.edu/ml/datasets/iris

In [ ]:
import pandas as pd
from google.colab import files

upload = files.upload() #ทำการอัพโหลดไฟล์ที่อยู่ในเครื่อง

11.2 ทำการใส่ชื่อไฟล์ลงในที่อัพโหลดลงใน _ชื่อไฟล์___

In [ ]:
import io
iris = pd.read_csv(io.StringIO(upload[iris.data].decode('utf-8')), names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class']) # ทำการอ่านข้อมูลจากไฟล์ โดยกำชื่อคอลัมน์เป็น sepal length', 'sepal width', 'petal length', 'petal width', 'class'

11.3 จงแสดงข้อมูล(Data set) ที่อ่านมาได้

In [ ]:
iris.boxplot(by="class", figsize=(15, 8)) #แสดงรูปกราฟเปรียบเทียบข้อมูลของแต่คุณลักษณะ

## การแสดงข้อมูลในรูปแบบต่างๆ

In [ ]:
import matplotlib.pyplot as plt

# แยกกลุ่มข้อมูลตามประเภทของสายพันธุ์
setosa = iris.loc[iris['class']=='Iris-setosa'] # แสดงช่วงข้อมูลของดอก IRIS สายพันธ์ุ virginica
setosa

12.1 จงแสดงข้อมูลของดอก IRIS สายพันธ์ุ virginica

In [ ]:
virginica = iris.loc[iris['class']==________________]
virginica

12.2 จงแสดงข้อมูลของดอก IRIS สายพันธ์ุ versicolor

In [ ]:
____________________________________
versicolor

##การแสดงความสัมพันธุ์ของข้อมูลหรือการกระจายตัวของข้อมูลจัดทำเพื่อให้สามารถเห็นภาพของกระบวนการจำแนกข้อมูลได้จัดเจนขึ้น

###จากตัวอย่างด้านล่างเราทำการ plot ความยาวของกลีบเลี้ยง (sepal length) และ ความยาวของกลีบดอก (petal length)

In [ ]:
plt.scatter(setosa['sepal length'], setosa['sepal width'], color='b')
plt.scatter(virginica['sepal length'], virginica['sepal width'], color='r')
plt.scatter(versicolor['sepal length'], versicolor['sepal width'], color='g')
plt.xlabel('sepal length')
plt.ylabel('sepal width')
plt.show()

##คำถามปราบเซียน(ตอบพร้อมกัน)



1.   สีแดงแสดงข้อมูลของอะไร
2.   สีน้ำเงินแสดงข้อมูลของอะไร
3.   สีน้ำเขียวแสดงข้อมูลของอะไร
4.   IRIS สายพันธ์ใดที่มีการกระจ่ายตัวแบบแบ่งกลุ่มอย่างชัดเจน

In [ ]:
plt.scatter(setosa['sepal length'], setosa['petal width'], color='b')
plt.scatter(virginica['sepal length'], virginica['petal width'], color='r')
plt.scatter(versicolor['sepal length'], versicolor['petal width'], color='g')
plt.xlabel('sepal length')
plt.ylabel('petal width')
plt.show()

##คำถามปราบเซียน(ตอบพร้อมกัน)

1. กราฟที่แสดงเป็นกราฟของความสัมพันธ์ของคุณลักษณะ(Feature)ใด
2. ดอก IRIS สายพันธ์ใดที่มีการกระจ่ายตัวแบบแบ่งกลุ่มอย่างชัดเจน

In [ ]:
plt.scatter(setosa['petal length'], setosa['petal width'], color='b')
plt.scatter(virginica['petal length'], virginica['petal width'], color='r')
plt.scatter(versicolor['petal length'], versicolor['petal width'], color='g')
plt.xlabel('petal length')
plt.ylabel('petal width')
plt.show()

#คำถามปราบเซียน(ตอบพร้อมกัน)

1. กราฟที่แสดงเป็นกราฟของความสัมพันธ์ของคุณลักษณะ(Feature)ใด
2. ดอก IRIS สายพันธ์ใดที่มีการกระจ่ายตัวแบบแบ่งกลุ่มอย่างชัดเจน

In [ ]:
import seaborn as sns

sns.pairplot(iris, hue="class") #ทำการแสดงกราฟข้อมูลความทุกๆความสัมพันธ์พร้อมทั้งกราฟแสดงความถี่ของข้อมูล

##คำถามปราบเซียน(ตอบพร้อมกัน)

1. กราฟใดแสดงความสัมพันธ์ที่แสดงการกระจ่ายตัวแบบแบ่งกลุ่มของดอก IRIS สายพันธ์ Setosa ได้จัดเจนที่สุด
2. กราฟใดแสดงความสัมพันธ์ที่แสดงการกระจ่ายตัวแบบแบ่งกลุ่มของดอก IRIS สายพันธ์ Versicolor ได้จัดเจนที่สุด
3. กราฟใดแสดงความสัมพันธ์ที่แสดงการกระจ่ายตัวแบบแบ่งกลุ่มของดอก IRIS สายพันธ์ Viginica ได้จัดเจนที่สุด
4. มีดอก IRIS สายพันธ์ใดบ้างที่ไม่สามารถแบ่งกลุ่มข้อมูลออกจากกันได้อย่างเด็ดขาดสั่งเกตุจากกราฟข้อมูลใด

# กิจกรรมที่ 13 การสร้างโมเดลเพื่อใช้ทำนายข้อมูล

In [ ]:
from sklearn import datasets, tree

iris = datasets.load_iris()

In [ ]:
iris # ชุดข้อมูลทั้งหมด

In [ ]:
iris.data # ชุดข้อมูลที่มีเพียงคุณลักษณะ(Feature) ของดอก IRIS เท่านั้น

In [ ]:
iris.target #ชุดข้อมูลที่มีเพียงสายพันธ์ของดอก IRIS โดย 0 จะแทนด้วยสายพันธ์ Setosa, 1 แทนด้วย Versicolor, viginica แทนด้วย viginica

In [ ]:
iris.target_names # ชื่อของสายพันธ์

##ทำการสอนโปรแกรมเพื่อให้สามารถเข้าใจและแยกแยะสายพันธ์ุของดอก IRIS ได้โดยใช้ ต้นไม้ตัดสินใจ(Decision Tree)

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(iris.data, iris.target)

In [ ]:
index = clf.predict([[6.4, 3.1, 5.5, 1.8]]) # sepal length =6.4, sepal width = 3.1, petal length=5.5, petal width = 1.8
print(index)
print(iris.target_names[index])

12.3 จงสร้าง Array ชื่อ Arr เพื่อเก็บข้อมูลตามลำดับต่อไปนี้ sepal length =4.8, sepal width = 3.4, petal length=1.6, petal width = 0.2

In [ ]:
arr = [____________]

12.4 จงทำนายหาผลลัพธ์สายพันธ์ของตอก Iris จากข้อมูลใน Arr

In [ ]:
i = clf.predict(_____________________)
print(_____________________)

12.5 จงทำนายหาผลลัพธ์สายพันธ์ของตอก Iris จากข้อมูลต้อไปนี้ sepal length = 6.7, sepal width = 3.1, petal length=4.7, petal width = 1.5

In [ ]:
a =[__________]
i = clf.predict(_____________________)
print(__________________)

## แล้วข้างใน Decision Tree มันทำงานอย่างไรถึงสามารถทำนายได้ถูกต้องและแม่นยำ(กดรันดูซิจ๊ะ)

In [ ]:
import graphviz

dot_data = tree.export_graphviz(clf, out_file=None, 
                      feature_names=iris.feature_names,  
                      class_names=iris.target_names,  
                      filled=True, rounded=True,  
                      special_characters=True)  
graph = graphviz.Source(dot_data) 
graph

สมมุติให้คุณลักษณะของดอก Iris ตามนี้ sepal length = 6.7, sepal width = 3.1, petal length=4.7, petal width = 1.5

ผลลัพธ์ที่ได้คือดอก IRIS มีสายพันธ์อะไร

## คำถามปราบเซียน(ใช้แผนผังในการตรวจสอบ)
1. สมมุติให้คุณลักษณะของดอก Iris ตามนี้ sepal length = 4.4, sepal width = 3.2, petal length=1.3, petal width = 0.2 ผลลัพธ์ที่ได้คือดอก IRIS มีสายพันธ์อะไร
2. สมมุติให้คุณลักษณะของดอก Iris ตามนี้ sepal length = 6.3, sepal width = 2.7, petal length=4.9, petal width = 1.8 ผลลัพธ์ที่ได้คือดอก IRIS มีสายพันธ์อะไร

#<font color= blue>เอกสารเพิ่มเติม</font>

#วิธีการพิเศษในการเลือกไฟล์ upload

##คำสั่งการอัพโหลดไฟล์ข้อมูลเข้าไปใน Google Drive

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

คำสั่งการนำข้อมูลเข้าระบบ ให้ระวังเรื่อง Encoding

In [ ]:
# Read DF
csvdf = pd.read_csv('data.csv')
# Sometimes reading CSV for Excel need encoding
# csvdf = pd.read_csv('data.csv',encoding = "ISO-8859-1")
# Print head and tail
csvdf.head()
csvdf.tail()

In [ ]:
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(__________, '', end='')
        print()
    print()